&lt;div&gt;
  {{&gt; atoms-button:button--blue}}
  {{&gt; atoms-button:button--green}}
  {{&gt; atoms-button:button--salmon}}
  
  &lt;p&gt;
    If you don&apos;t have an account with us we&apos;ll create one for you. By creating an account using your Facebook, Twitter or Google account, you agree to our &lt;a href=&quot;&quot;&gt;Terms of Use&lt;/a&gt; and &lt;a href=&quot;&quot;&gt;Privacy Policy&lt;/a&gt;.
  &lt;/p&gt;
&lt;/div&gt;
