&lt;aside class=&quot;card card--avatar&quot;&gt;
  
  &lt;div class=&quot;media-block&quot;&gt;
    &lt;span class=&quot;media-block__avatar&quot;&gt;
      &lt;img src=&quot;{{img}}&quot;&gt;
    &lt;/span&gt;
    
    &lt;span class=&quot;media-block__content&quot;&gt;
      &lt;h5&gt;{{text.avatarCardTitle}}&lt;/h5&gt;
      &lt;p&gt;{{text.avatarCardContent}}&lt;/p&gt;
    &lt;/span&gt;
  &lt;/div&gt;
  
  &lt;blockquote&gt;
    &quot;{{text.avatarCardQuote}}&quot;
  &lt;/blockquote&gt;
  
&lt;/aside&gt;
