<form class="search-box">
  <input type="text" class="search-box__input" placeholder="{{text.placeholder}}">
  <button type="submit">
    <span class="search-box__icon">{{> atoms-icon(icon-name: "ui-search")}}</span>
  </button>
</form>
