<form>
  <div class="row">
    <div class="two-thirds column">
      <label for="username">Username</label>
      <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="username">
      <label for="password">Password</label>
      <input class="u-full-width" type="password" id="password">
    </div>
  </div>
  
  {{> atoms-button:button--blue}}
  
  <p>
    <a href="">Dont have an account? Sign Up</a>
  </p>
  <p>
    <a href="">Forgot your username or password?</a>
  </p>
  
</form>
