<div>
  {{> atoms-button:button--blue}}
  {{> atoms-button:button--green}}
  {{> atoms-button:button--salmon}}
  
  <p>
    If you don't have an account with us we'll create one for you. By creating an account using your Facebook, Twitter or Google account, you agree to our <a href="">Terms of Use</a> and <a href="">Privacy Policy</a>.
  </p>
</div>
