
    &lt;div class=&quot;container&quot;&gt;
      &lt;h1&gt;STM Global Icons&lt;/h1&gt;
      &lt;p class=&quot;small&quot;&gt;This font was created with&lt;a href=&quot;http://fontastic.me/&quot;&gt;Fontastic&lt;/a&gt;&lt;/p&gt;
      &lt;h2&gt;CSS mapping&lt;/h2&gt;
      &lt;ul class=&quot;glyphs css-mapping&quot;&gt;
        &lt;li&gt;
          &lt;div class=&quot;icon icon-ui-menu-answers&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;ui-menu-answers&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div class=&quot;icon icon-ui-menu-drive&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;ui-menu-drive&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div class=&quot;icon icon-ui-menu-texty&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;ui-menu-texty&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div class=&quot;icon icon-ui-search&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;ui-search&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div class=&quot;icon icon-ui-social-fb&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;ui-social-fb&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div class=&quot;icon icon-ui-social-insta&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;ui-social-insta&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div class=&quot;icon icon-ask&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;ask&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div class=&quot;icon icon-document&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;document&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div class=&quot;icon icon-eye&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;eye&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div class=&quot;icon icon-sm-logo-global&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;sm-logo-global&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div class=&quot;icon icon-arts-humanities&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;arts-humanities&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div class=&quot;icon icon-business-economy&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;business-economy&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div class=&quot;icon icon-computers-internet&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;computers-internet&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div class=&quot;icon icon-education&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;education&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div class=&quot;icon icon-entertainment&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;entertainment&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div class=&quot;icon icon-governments&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;governments&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div class=&quot;icon icon-health-medicine&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;health-medicine&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div class=&quot;icon icon-news-media&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;news-media&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div class=&quot;icon icon-recreation-sports&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;recreation-sports&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div class=&quot;icon icon-science&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;science&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div class=&quot;icon icon-social-science&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;social-science&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div class=&quot;icon icon-society-culture&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;society-culture&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div class=&quot;icon icon-check-circle&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;check-circle&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div class=&quot;icon icon-sm-logo&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;sm-logo&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div class=&quot;icon icon-ui-social-tw&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;ui-social-tw&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div class=&quot;icon icon-cite&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;cite&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div class=&quot;icon icon-favorite&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;favorite&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div class=&quot;icon icon-more&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;more&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div class=&quot;icon icon-share&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;share&quot;&gt;
        &lt;/li&gt;
      &lt;/ul&gt;
      &lt;h2&gt;Character mapping&lt;/h2&gt;
      &lt;ul class=&quot;glyphs character-mapping&quot;&gt;
        &lt;li&gt;
          &lt;div data-icon=&quot;t&quot; class=&quot;icon&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;t&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div data-icon=&quot;u&quot; class=&quot;icon&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;u&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div data-icon=&quot;w&quot; class=&quot;icon&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;w&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div data-icon=&quot;y&quot; class=&quot;icon&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;y&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div data-icon=&quot;z&quot; class=&quot;icon&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;z&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div data-icon=&quot;B&quot; class=&quot;icon&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;B&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div data-icon=&quot;k&quot; class=&quot;icon&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;k&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div data-icon=&quot;l&quot; class=&quot;icon&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;l&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div data-icon=&quot;m&quot; class=&quot;icon&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;m&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div data-icon=&quot;9&quot; class=&quot;icon&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;9&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div data-icon=&quot;$&quot; class=&quot;icon&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;$&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div data-icon=&quot;%&quot; class=&quot;icon&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;%&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div data-icon=&quot;&amp;&quot; class=&quot;icon&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;&amp;amp;&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div data-icon=&quot;&apos;&quot; class=&quot;icon&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;&amp;#39;&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div data-icon=&quot;(&quot; class=&quot;icon&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;(&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div data-icon=&quot;)&quot; class=&quot;icon&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;)&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div data-icon=&quot;*&quot; class=&quot;icon&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;*&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div data-icon=&quot;+&quot; class=&quot;icon&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;+&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div data-icon=&quot;,&quot; class=&quot;icon&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;,&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div data-icon=&quot;-&quot; class=&quot;icon&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;-&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div data-icon=&quot;:&quot; class=&quot;icon&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;:&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div data-icon=&quot;;&quot; class=&quot;icon&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;;&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div data-icon=&quot;T&quot; class=&quot;icon&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;T&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div data-icon=&quot;a&quot; class=&quot;icon&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;a&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div data-icon=&quot;C&quot; class=&quot;icon&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;C&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div data-icon=&quot;b&quot; class=&quot;icon&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;b&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div data-icon=&quot;c&quot; class=&quot;icon&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;c&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div data-icon=&quot;d&quot; class=&quot;icon&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;d&quot;&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;div data-icon=&quot;e&quot; class=&quot;icon&quot;&gt;&lt;/div&gt;
          &lt;input type=&quot;text&quot; readonly=&quot;readonly&quot; value=&quot;e&quot;&gt;
        &lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;