&lt;div class=&quot;card card--cta {{cardCtaClass}}&quot;&gt;
  
  &lt;i class=&quot;icon {{cardCtaIcon}}&quot;&gt;&lt;/i&gt;
  
  &lt;h5&gt;
    StudyMode&lt;span class=&quot;card--cta__colored-text&quot;&gt;{{text.cardProperty}}&lt;/span&gt;
  &lt;/h5&gt;
  
  &lt;p&gt;{{text.cardCta}}&lt;/p&gt;
  
&lt;/div&gt;
