&lt;section class=&quot;section-content section-content--hero&quot;&gt;
  &lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;large-12 columns&quot;&gt;
      {{&gt; molecules-section-heading-hero}}
  
      {{&gt; molecules-search-form}}
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;ul class=&quot;row hero-bullets&quot;&gt;
    {{# heroBullets}}
    {{&gt; molecules-hero-bullet}}
    {{/ heroBullets}}
  &lt;/ul&gt;
&lt;/section&gt;
