&lt;div class=&quot;row tag-block&quot;&gt;
  {{# popularTopicTags}}
  &lt;div class=&quot;large-3 medium-4 small-6 columns&quot;&gt;
    &lt;a href=&quot;{{url}}&quot;&gt;
      {{&gt; atoms-tag}}
    &lt;/a&gt;
  &lt;/div&gt;
  {{/ popularTopicTags}}
&lt;/div&gt;
