&lt;section class=&quot;section-content section-content--gray&quot;&gt;
  &lt;div class=&quot;container&quot;&gt;
    
    &lt;div class=&quot;row&quot;&gt;
      &lt;div class=&quot;twelve columns&quot;&gt;
        {{&gt; molecules-section-heading}}
      &lt;/div&gt;
    &lt;/div&gt;
    
    &lt;div class=&quot;row&quot;&gt;
      {{# categoryNames1}}
      &lt;div class=&quot;large-2 medium-4 small-6 columns&quot;&gt;
        &lt;a href=&quot;{{categoryLink}}&quot;&gt;
          {{&gt; molecules-category}}
        &lt;/a&gt;
      &lt;/div&gt;
      {{/ categoryNames1}}
    &lt;/div&gt;
    
    &lt;div class=&quot;row&quot;&gt;
      {{# categoryNames2}}
      &lt;div class=&quot;large-2 medium-4 small-6 columns&quot;&gt;
        &lt;a href=&quot;{{categoryLink}}&quot;&gt;
          {{&gt; molecules-category}}
        &lt;/a&gt;
      &lt;/div&gt;
      {{/ categoryNames2}}
    &lt;/div&gt;
    
  &lt;/div&gt;
&lt;/section&gt;
