<div class="vertical-nav-list">
  
  <h6 class="vertical-nav-list__heading">{{text.verticalNavHeading}}</h6>
  
  <ul>
    {{#verticalNavListItems}}
    {{> molecules-vertical-list-item}}
    {{/verticalNavListItems}}
  </ul>
  
</div>
