<li class="vertical-nav-list__item">
  <a href="{{url}}">{{text.verticalNavListItemText}}</a>
  {{#verticalNavListItemTag}}
  <span class="sm-tag sm-tag--inverse sm-tag--blue sm-tag--small">{{verticalNavListItemTagText}}</span>
  {{/verticalNavListItemTag}}
</li>
