<div class="nav-tabs">
  <a class="nav-tabs__item nav-tabs--active" href="#one">ONE</a>
  <a class="nav-tabs__item" href="#two">TWO</a>
</div>

<div>
  <div id="one" class="nav-tabs__content nav-tabs__content--active">
    CONTENT ONE IN FIRST TAB SET
  </div>
  <div id="two" class="nav-tabs__content">
    CONTENT TWO IN FIRST TAB SET
  </div>
</div>


<div class="nav-tabs">
  <a class="nav-tabs__item nav-tabs--active" href="#three">ONE</a>
  <a class="nav-tabs__item" href="#four">TWO</a>
</div>

<div>
  <div id="three" class="nav-tabs__content nav-tabs__content--active">
    CONTENT ONE IN SECOND TAB SET
  </div>
  <div id="four" class="nav-tabs__content">
    CONTENT TWO IN SECOND TAB SET
  </div>
</div>

<div class="docs-helpblock">
  <p>Adding a class of <code>nav-tabs--active</code> will set a nav tab item to active.</p>
  <p>
    By default <code>nav-tabs__content</code> items are hidden. You must give at least one content area the class <code>nav-tabs__content--active</code>
    otherwise all tab content areas will be hidden.
  </p>
  <p>
    Tabs can toggle content area visiblity by giving a content area an id. Placing this id in the <code>href</code>
    attribute of a tab item preceeded by a <code>#</code> will allow the tab to show that content area when clicked.
  </p>
</div>
