
    <div class="container">
      <h1>STM Global Icons</h1>
      <p class="small">This font was created with<a href="http://fontastic.me/">Fontastic</a></p>
      <h2>CSS mapping</h2>
      <ul class="glyphs css-mapping">
        <li>
          <div class="icon icon-ui-menu-answers"></div>
          <input type="text" readonly="readonly" value="ui-menu-answers">
        </li>
        <li>
          <div class="icon icon-ui-menu-drive"></div>
          <input type="text" readonly="readonly" value="ui-menu-drive">
        </li>
        <li>
          <div class="icon icon-ui-menu-texty"></div>
          <input type="text" readonly="readonly" value="ui-menu-texty">
        </li>
        <li>
          <div class="icon icon-ui-search"></div>
          <input type="text" readonly="readonly" value="ui-search">
        </li>
        <li>
          <div class="icon icon-ui-social-fb"></div>
          <input type="text" readonly="readonly" value="ui-social-fb">
        </li>
        <li>
          <div class="icon icon-ui-social-insta"></div>
          <input type="text" readonly="readonly" value="ui-social-insta">
        </li>
        <li>
          <div class="icon icon-ask"></div>
          <input type="text" readonly="readonly" value="ask">
        </li>
        <li>
          <div class="icon icon-document"></div>
          <input type="text" readonly="readonly" value="document">
        </li>
        <li>
          <div class="icon icon-eye"></div>
          <input type="text" readonly="readonly" value="eye">
        </li>
        <li>
          <div class="icon icon-sm-logo-global"></div>
          <input type="text" readonly="readonly" value="sm-logo-global">
        </li>
        <li>
          <div class="icon icon-arts-humanities"></div>
          <input type="text" readonly="readonly" value="arts-humanities">
        </li>
        <li>
          <div class="icon icon-business-economy"></div>
          <input type="text" readonly="readonly" value="business-economy">
        </li>
        <li>
          <div class="icon icon-computers-internet"></div>
          <input type="text" readonly="readonly" value="computers-internet">
        </li>
        <li>
          <div class="icon icon-education"></div>
          <input type="text" readonly="readonly" value="education">
        </li>
        <li>
          <div class="icon icon-entertainment"></div>
          <input type="text" readonly="readonly" value="entertainment">
        </li>
        <li>
          <div class="icon icon-governments"></div>
          <input type="text" readonly="readonly" value="governments">
        </li>
        <li>
          <div class="icon icon-health-medicine"></div>
          <input type="text" readonly="readonly" value="health-medicine">
        </li>
        <li>
          <div class="icon icon-news-media"></div>
          <input type="text" readonly="readonly" value="news-media">
        </li>
        <li>
          <div class="icon icon-recreation-sports"></div>
          <input type="text" readonly="readonly" value="recreation-sports">
        </li>
        <li>
          <div class="icon icon-science"></div>
          <input type="text" readonly="readonly" value="science">
        </li>
        <li>
          <div class="icon icon-social-science"></div>
          <input type="text" readonly="readonly" value="social-science">
        </li>
        <li>
          <div class="icon icon-society-culture"></div>
          <input type="text" readonly="readonly" value="society-culture">
        </li>
        <li>
          <div class="icon icon-check-circle"></div>
          <input type="text" readonly="readonly" value="check-circle">
        </li>
        <li>
          <div class="icon icon-sm-logo"></div>
          <input type="text" readonly="readonly" value="sm-logo">
        </li>
        <li>
          <div class="icon icon-ui-social-tw"></div>
          <input type="text" readonly="readonly" value="ui-social-tw">
        </li>
        <li>
          <div class="icon icon-cite"></div>
          <input type="text" readonly="readonly" value="cite">
        </li>
        <li>
          <div class="icon icon-favorite"></div>
          <input type="text" readonly="readonly" value="favorite">
        </li>
        <li>
          <div class="icon icon-more"></div>
          <input type="text" readonly="readonly" value="more">
        </li>
        <li>
          <div class="icon icon-share"></div>
          <input type="text" readonly="readonly" value="share">
        </li>
      </ul>
      <h2>Character mapping</h2>
      <ul class="glyphs character-mapping">
        <li>
          <div data-icon="t" class="icon"></div>
          <input type="text" readonly="readonly" value="t">
        </li>
        <li>
          <div data-icon="u" class="icon"></div>
          <input type="text" readonly="readonly" value="u">
        </li>
        <li>
          <div data-icon="w" class="icon"></div>
          <input type="text" readonly="readonly" value="w">
        </li>
        <li>
          <div data-icon="y" class="icon"></div>
          <input type="text" readonly="readonly" value="y">
        </li>
        <li>
          <div data-icon="z" class="icon"></div>
          <input type="text" readonly="readonly" value="z">
        </li>
        <li>
          <div data-icon="B" class="icon"></div>
          <input type="text" readonly="readonly" value="B">
        </li>
        <li>
          <div data-icon="k" class="icon"></div>
          <input type="text" readonly="readonly" value="k">
        </li>
        <li>
          <div data-icon="l" class="icon"></div>
          <input type="text" readonly="readonly" value="l">
        </li>
        <li>
          <div data-icon="m" class="icon"></div>
          <input type="text" readonly="readonly" value="m">
        </li>
        <li>
          <div data-icon="9" class="icon"></div>
          <input type="text" readonly="readonly" value="9">
        </li>
        <li>
          <div data-icon="$" class="icon"></div>
          <input type="text" readonly="readonly" value="$">
        </li>
        <li>
          <div data-icon="%" class="icon"></div>
          <input type="text" readonly="readonly" value="%">
        </li>
        <li>
          <div data-icon="&" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;">
        </li>
        <li>
          <div data-icon="'" class="icon"></div>
          <input type="text" readonly="readonly" value="&#39;">
        </li>
        <li>
          <div data-icon="(" class="icon"></div>
          <input type="text" readonly="readonly" value="(">
        </li>
        <li>
          <div data-icon=")" class="icon"></div>
          <input type="text" readonly="readonly" value=")">
        </li>
        <li>
          <div data-icon="*" class="icon"></div>
          <input type="text" readonly="readonly" value="*">
        </li>
        <li>
          <div data-icon="+" class="icon"></div>
          <input type="text" readonly="readonly" value="+">
        </li>
        <li>
          <div data-icon="," class="icon"></div>
          <input type="text" readonly="readonly" value=",">
        </li>
        <li>
          <div data-icon="-" class="icon"></div>
          <input type="text" readonly="readonly" value="-">
        </li>
        <li>
          <div data-icon=":" class="icon"></div>
          <input type="text" readonly="readonly" value=":">
        </li>
        <li>
          <div data-icon=";" class="icon"></div>
          <input type="text" readonly="readonly" value=";">
        </li>
        <li>
          <div data-icon="T" class="icon"></div>
          <input type="text" readonly="readonly" value="T">
        </li>
        <li>
          <div data-icon="a" class="icon"></div>
          <input type="text" readonly="readonly" value="a">
        </li>
        <li>
          <div data-icon="C" class="icon"></div>
          <input type="text" readonly="readonly" value="C">
        </li>
        <li>
          <div data-icon="b" class="icon"></div>
          <input type="text" readonly="readonly" value="b">
        </li>
        <li>
          <div data-icon="c" class="icon"></div>
          <input type="text" readonly="readonly" value="c">
        </li>
        <li>
          <div data-icon="d" class="icon"></div>
          <input type="text" readonly="readonly" value="d">
        </li>
        <li>
          <div data-icon="e" class="icon"></div>
          <input type="text" readonly="readonly" value="e">
        </li>
      </ul>
    </div>