{{# topNav}}
{{> organisms-top-nav}}
{{/ topNav}}

{{# sectionHero}}
{{> organisms-section-hero}}
{{/ sectionHero}}

{{# browseCategory}}
{{> organisms-browse-category}}
{{/ browseCategory}}

{{# writingTips}}
{{> organisms-writing-tips}}
{{/ writingTips}}

{{# exampleEssays}}
{{> organisms-example-essays}}
{{/ exampleEssays}}

{{# popularTopics}}
{{> organisms-popular-research-topics}}
{{/ popularTopics}}

{{# writingGenius}}
{{> organisms-become-writing-genius}}
{{/ writingGenius}}

{{# sectionInverse}}
{{> organisms-section-inverse}}
{{/ sectionInverse}}

{{# sectionFooter}}
{{> organisms-section-footer}}
{{/ sectionFooter}}
