&lt;div class=&quot;copyright-block&quot;&gt;
  
  &lt;p class=&quot;copyright-block__icon&quot;&gt;
    &lt;i class=&quot;icon icon-sm-logo&quot;&gt;&lt;/i&gt;
    &lt;span&gt;StudyMode&lt;/span&gt;
  &lt;/p&gt;
  
  &lt;p class=&quot;copyright-block__social&quot;&gt;
    &lt;a href=&quot;{{facebookUrl}}&quot;&gt;
      &lt;span class=&quot;icon--circle&quot;&gt;
        &lt;i class=&quot;icon icon-ui-social-fb&quot;&gt;&lt;/i&gt;
      &lt;/span&gt;
    &lt;/a&gt;
    &lt;a href=&quot;{{twitterUrl}}&quot;&gt;
      &lt;span class=&quot;icon--circle&quot;&gt;
        &lt;i class=&quot;icon icon-ui-social-tw&quot;&gt;&lt;/i&gt;
      &lt;/span&gt;
    &lt;/a&gt;
    &lt;a href=&quot;{{instagramUrl}}&quot;&gt;
      &lt;span class=&quot;icon--circle&quot;&gt;
        &lt;i class=&quot;icon icon-ui-social-insta&quot;&gt;&lt;/i&gt;
      &lt;/span&gt;
    &lt;/a&gt;
  &lt;/p&gt;
  
  &lt;small&gt;
    &amp;copy;2016 StudyMode.com
  &lt;/small&gt;
  
&lt;/div&gt;
