.orange {
  background-color: #f2793d; }

.salmon {
  background-color: #e55069; }

.purple {
  background-color: #7562d9; }

.blue {
  background-color: #419ad9; }

.dark-gray {
  background-color: #1d2226; }

.brand-color {
  color: #419ad9; }

.brand-background {
  background-color: #419ad9; }

.brand-color {
  color: #419ad9; }

.brand-background {
  background-color: #419ad9; }

a {
  color: #419ad9; }
  a:hover {
    color: #2781c1; }