&lt;li class=&quot;vertical-nav-list__item&quot;&gt;
  &lt;a href=&quot;{{url}}&quot;&gt;{{text.verticalNavListItemText}}&lt;/a&gt;
  {{#verticalNavListItemTag}}
  &lt;span class=&quot;sm-tag sm-tag--inverse sm-tag--blue sm-tag--small&quot;&gt;{{verticalNavListItemTagText}}&lt;/span&gt;
  {{/verticalNavListItemTag}}
&lt;/li&gt;
