@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic");
.row {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto; }
  .row::before, .row::after {
    content: ' ';
    display: table; }
  .row::after {
    clear: both; }
  .row.collapse > .column, .row.collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .row .row {
    max-width: none;
    margin-left: -0.625rem;
    margin-right: -0.625rem;
    max-width: none; }
    @media screen and (min-width: 40em) {
      .row .row {
        margin-left: -0.9375rem;
        margin-right: -0.9375rem; } }
    .row .row.collapse {
      margin-left: 0;
      margin-right: 0; }
  .row.expanded {
    max-width: none; }
    .row.expanded .row {
      margin-left: auto;
      margin-right: auto; }

.column, .columns {
  width: 100%;
  float: left;
  padding-left: 0.625rem;
  padding-right: 0.625rem; }
  @media screen and (min-width: 40em) {
    .column, .columns {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }
  .column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
    float: right; }
  .column.end:last-child:last-child, .end.columns:last-child:last-child {
    float: left; }

.column.row.row, .row.row.columns {
  float: none; }
  .row .column.row.row, .row .row.row.columns {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0; }

.small-1 {
  width: 8.3333333333%; }

.small-push-1 {
  position: relative;
  left: 8.3333333333%; }

.small-pull-1 {
  position: relative;
  left: -8.3333333333%; }

.small-offset-0 {
  margin-left: 0%; }

.small-2 {
  width: 16.6666666667%; }

.small-push-2 {
  position: relative;
  left: 16.6666666667%; }

.small-pull-2 {
  position: relative;
  left: -16.6666666667%; }

.small-offset-1 {
  margin-left: 8.3333333333%; }

.small-3 {
  width: 25%; }

.small-push-3 {
  position: relative;
  left: 25%; }

.small-pull-3 {
  position: relative;
  left: -25%; }

.small-offset-2 {
  margin-left: 16.6666666667%; }

.small-4 {
  width: 33.3333333333%; }

.small-push-4 {
  position: relative;
  left: 33.3333333333%; }

.small-pull-4 {
  position: relative;
  left: -33.3333333333%; }

.small-offset-3 {
  margin-left: 25%; }

.small-5 {
  width: 41.6666666667%; }

.small-push-5 {
  position: relative;
  left: 41.6666666667%; }

.small-pull-5 {
  position: relative;
  left: -41.6666666667%; }

.small-offset-4 {
  margin-left: 33.3333333333%; }

.small-6 {
  width: 50%; }

.small-push-6 {
  position: relative;
  left: 50%; }

.small-pull-6 {
  position: relative;
  left: -50%; }

.small-offset-5 {
  margin-left: 41.6666666667%; }

.small-7 {
  width: 58.3333333333%; }

.small-push-7 {
  position: relative;
  left: 58.3333333333%; }

.small-pull-7 {
  position: relative;
  left: -58.3333333333%; }

.small-offset-6 {
  margin-left: 50%; }

.small-8 {
  width: 66.6666666667%; }

.small-push-8 {
  position: relative;
  left: 66.6666666667%; }

.small-pull-8 {
  position: relative;
  left: -66.6666666667%; }

.small-offset-7 {
  margin-left: 58.3333333333%; }

.small-9 {
  width: 75%; }

.small-push-9 {
  position: relative;
  left: 75%; }

.small-pull-9 {
  position: relative;
  left: -75%; }

.small-offset-8 {
  margin-left: 66.6666666667%; }

.small-10 {
  width: 83.3333333333%; }

.small-push-10 {
  position: relative;
  left: 83.3333333333%; }

.small-pull-10 {
  position: relative;
  left: -83.3333333333%; }

.small-offset-9 {
  margin-left: 75%; }

.small-11 {
  width: 91.6666666667%; }

.small-push-11 {
  position: relative;
  left: 91.6666666667%; }

.small-pull-11 {
  position: relative;
  left: -91.6666666667%; }

.small-offset-10 {
  margin-left: 83.3333333333%; }

.small-12 {
  width: 100%; }

.small-offset-11 {
  margin-left: 91.6666666667%; }

.small-up-1 > .column, .small-up-1 > .columns {
  width: 100%;
  float: left; }
  .small-up-1 > .column:nth-of-type(1n), .small-up-1 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-1 > .column:nth-of-type(1n+1), .small-up-1 > .columns:nth-of-type(1n+1) {
    clear: both; }
  .small-up-1 > .column:last-child, .small-up-1 > .columns:last-child {
    float: left; }

.small-up-2 > .column, .small-up-2 > .columns {
  width: 50%;
  float: left; }
  .small-up-2 > .column:nth-of-type(1n), .small-up-2 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-2 > .column:nth-of-type(2n+1), .small-up-2 > .columns:nth-of-type(2n+1) {
    clear: both; }
  .small-up-2 > .column:last-child, .small-up-2 > .columns:last-child {
    float: left; }

.small-up-3 > .column, .small-up-3 > .columns {
  width: 33.3333333333%;
  float: left; }
  .small-up-3 > .column:nth-of-type(1n), .small-up-3 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-3 > .column:nth-of-type(3n+1), .small-up-3 > .columns:nth-of-type(3n+1) {
    clear: both; }
  .small-up-3 > .column:last-child, .small-up-3 > .columns:last-child {
    float: left; }

.small-up-4 > .column, .small-up-4 > .columns {
  width: 25%;
  float: left; }
  .small-up-4 > .column:nth-of-type(1n), .small-up-4 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-4 > .column:nth-of-type(4n+1), .small-up-4 > .columns:nth-of-type(4n+1) {
    clear: both; }
  .small-up-4 > .column:last-child, .small-up-4 > .columns:last-child {
    float: left; }

.small-up-5 > .column, .small-up-5 > .columns {
  width: 20%;
  float: left; }
  .small-up-5 > .column:nth-of-type(1n), .small-up-5 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-5 > .column:nth-of-type(5n+1), .small-up-5 > .columns:nth-of-type(5n+1) {
    clear: both; }
  .small-up-5 > .column:last-child, .small-up-5 > .columns:last-child {
    float: left; }

.small-up-6 > .column, .small-up-6 > .columns {
  width: 16.6666666667%;
  float: left; }
  .small-up-6 > .column:nth-of-type(1n), .small-up-6 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-6 > .column:nth-of-type(6n+1), .small-up-6 > .columns:nth-of-type(6n+1) {
    clear: both; }
  .small-up-6 > .column:last-child, .small-up-6 > .columns:last-child {
    float: left; }

.small-up-7 > .column, .small-up-7 > .columns {
  width: 14.2857142857%;
  float: left; }
  .small-up-7 > .column:nth-of-type(1n), .small-up-7 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-7 > .column:nth-of-type(7n+1), .small-up-7 > .columns:nth-of-type(7n+1) {
    clear: both; }
  .small-up-7 > .column:last-child, .small-up-7 > .columns:last-child {
    float: left; }

.small-up-8 > .column, .small-up-8 > .columns {
  width: 12.5%;
  float: left; }
  .small-up-8 > .column:nth-of-type(1n), .small-up-8 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-8 > .column:nth-of-type(8n+1), .small-up-8 > .columns:nth-of-type(8n+1) {
    clear: both; }
  .small-up-8 > .column:last-child, .small-up-8 > .columns:last-child {
    float: left; }

.small-collapse > .column, .small-collapse > .columns {
  padding-left: 0;
  padding-right: 0; }

.small-collapse .row {
  margin-left: 0;
  margin-right: 0; }

.small-uncollapse > .column, .small-uncollapse > .columns {
  padding-left: 0.625rem;
  padding-right: 0.625rem; }

.small-centered {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.small-uncentered,
.small-push-0,
.small-pull-0 {
  position: static;
  margin-left: 0;
  margin-right: 0;
  float: left; }

@media screen and (min-width: 40em) {
  .medium-1 {
    width: 8.3333333333%; }
  .medium-push-1 {
    position: relative;
    left: 8.3333333333%; }
  .medium-pull-1 {
    position: relative;
    left: -8.3333333333%; }
  .medium-offset-0 {
    margin-left: 0%; }
  .medium-2 {
    width: 16.6666666667%; }
  .medium-push-2 {
    position: relative;
    left: 16.6666666667%; }
  .medium-pull-2 {
    position: relative;
    left: -16.6666666667%; }
  .medium-offset-1 {
    margin-left: 8.3333333333%; }
  .medium-3 {
    width: 25%; }
  .medium-push-3 {
    position: relative;
    left: 25%; }
  .medium-pull-3 {
    position: relative;
    left: -25%; }
  .medium-offset-2 {
    margin-left: 16.6666666667%; }
  .medium-4 {
    width: 33.3333333333%; }
  .medium-push-4 {
    position: relative;
    left: 33.3333333333%; }
  .medium-pull-4 {
    position: relative;
    left: -33.3333333333%; }
  .medium-offset-3 {
    margin-left: 25%; }
  .medium-5 {
    width: 41.6666666667%; }
  .medium-push-5 {
    position: relative;
    left: 41.6666666667%; }
  .medium-pull-5 {
    position: relative;
    left: -41.6666666667%; }
  .medium-offset-4 {
    margin-left: 33.3333333333%; }
  .medium-6 {
    width: 50%; }
  .medium-push-6 {
    position: relative;
    left: 50%; }
  .medium-pull-6 {
    position: relative;
    left: -50%; }
  .medium-offset-5 {
    margin-left: 41.6666666667%; }
  .medium-7 {
    width: 58.3333333333%; }
  .medium-push-7 {
    position: relative;
    left: 58.3333333333%; }
  .medium-pull-7 {
    position: relative;
    left: -58.3333333333%; }
  .medium-offset-6 {
    margin-left: 50%; }
  .medium-8 {
    width: 66.6666666667%; }
  .medium-push-8 {
    position: relative;
    left: 66.6666666667%; }
  .medium-pull-8 {
    position: relative;
    left: -66.6666666667%; }
  .medium-offset-7 {
    margin-left: 58.3333333333%; }
  .medium-9 {
    width: 75%; }
  .medium-push-9 {
    position: relative;
    left: 75%; }
  .medium-pull-9 {
    position: relative;
    left: -75%; }
  .medium-offset-8 {
    margin-left: 66.6666666667%; }
  .medium-10 {
    width: 83.3333333333%; }
  .medium-push-10 {
    position: relative;
    left: 83.3333333333%; }
  .medium-pull-10 {
    position: relative;
    left: -83.3333333333%; }
  .medium-offset-9 {
    margin-left: 75%; }
  .medium-11 {
    width: 91.6666666667%; }
  .medium-push-11 {
    position: relative;
    left: 91.6666666667%; }
  .medium-pull-11 {
    position: relative;
    left: -91.6666666667%; }
  .medium-offset-10 {
    margin-left: 83.3333333333%; }
  .medium-12 {
    width: 100%; }
  .medium-offset-11 {
    margin-left: 91.6666666667%; }
  .medium-up-1 > .column, .medium-up-1 > .columns {
    width: 100%;
    float: left; }
    .medium-up-1 > .column:nth-of-type(1n), .medium-up-1 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-1 > .column:nth-of-type(1n+1), .medium-up-1 > .columns:nth-of-type(1n+1) {
      clear: both; }
    .medium-up-1 > .column:last-child, .medium-up-1 > .columns:last-child {
      float: left; }
  .medium-up-2 > .column, .medium-up-2 > .columns {
    width: 50%;
    float: left; }
    .medium-up-2 > .column:nth-of-type(1n), .medium-up-2 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-2 > .column:nth-of-type(2n+1), .medium-up-2 > .columns:nth-of-type(2n+1) {
      clear: both; }
    .medium-up-2 > .column:last-child, .medium-up-2 > .columns:last-child {
      float: left; }
  .medium-up-3 > .column, .medium-up-3 > .columns {
    width: 33.3333333333%;
    float: left; }
    .medium-up-3 > .column:nth-of-type(1n), .medium-up-3 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-3 > .column:nth-of-type(3n+1), .medium-up-3 > .columns:nth-of-type(3n+1) {
      clear: both; }
    .medium-up-3 > .column:last-child, .medium-up-3 > .columns:last-child {
      float: left; }
  .medium-up-4 > .column, .medium-up-4 > .columns {
    width: 25%;
    float: left; }
    .medium-up-4 > .column:nth-of-type(1n), .medium-up-4 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-4 > .column:nth-of-type(4n+1), .medium-up-4 > .columns:nth-of-type(4n+1) {
      clear: both; }
    .medium-up-4 > .column:last-child, .medium-up-4 > .columns:last-child {
      float: left; }
  .medium-up-5 > .column, .medium-up-5 > .columns {
    width: 20%;
    float: left; }
    .medium-up-5 > .column:nth-of-type(1n), .medium-up-5 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-5 > .column:nth-of-type(5n+1), .medium-up-5 > .columns:nth-of-type(5n+1) {
      clear: both; }
    .medium-up-5 > .column:last-child, .medium-up-5 > .columns:last-child {
      float: left; }
  .medium-up-6 > .column, .medium-up-6 > .columns {
    width: 16.6666666667%;
    float: left; }
    .medium-up-6 > .column:nth-of-type(1n), .medium-up-6 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-6 > .column:nth-of-type(6n+1), .medium-up-6 > .columns:nth-of-type(6n+1) {
      clear: both; }
    .medium-up-6 > .column:last-child, .medium-up-6 > .columns:last-child {
      float: left; }
  .medium-up-7 > .column, .medium-up-7 > .columns {
    width: 14.2857142857%;
    float: left; }
    .medium-up-7 > .column:nth-of-type(1n), .medium-up-7 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-7 > .column:nth-of-type(7n+1), .medium-up-7 > .columns:nth-of-type(7n+1) {
      clear: both; }
    .medium-up-7 > .column:last-child, .medium-up-7 > .columns:last-child {
      float: left; }
  .medium-up-8 > .column, .medium-up-8 > .columns {
    width: 12.5%;
    float: left; }
    .medium-up-8 > .column:nth-of-type(1n), .medium-up-8 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-8 > .column:nth-of-type(8n+1), .medium-up-8 > .columns:nth-of-type(8n+1) {
      clear: both; }
    .medium-up-8 > .column:last-child, .medium-up-8 > .columns:last-child {
      float: left; }
  .medium-collapse > .column, .medium-collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .medium-collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .medium-uncollapse > .column, .medium-uncollapse > .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem; }
  .medium-centered {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .medium-uncentered,
  .medium-push-0,
  .medium-pull-0 {
    position: static;
    margin-left: 0;
    margin-right: 0;
    float: left; } }

@media screen and (min-width: 64em) {
  .large-1 {
    width: 8.3333333333%; }
  .large-push-1 {
    position: relative;
    left: 8.3333333333%; }
  .large-pull-1 {
    position: relative;
    left: -8.3333333333%; }
  .large-offset-0 {
    margin-left: 0%; }
  .large-2 {
    width: 16.6666666667%; }
  .large-push-2 {
    position: relative;
    left: 16.6666666667%; }
  .large-pull-2 {
    position: relative;
    left: -16.6666666667%; }
  .large-offset-1 {
    margin-left: 8.3333333333%; }
  .large-3 {
    width: 25%; }
  .large-push-3 {
    position: relative;
    left: 25%; }
  .large-pull-3 {
    position: relative;
    left: -25%; }
  .large-offset-2 {
    margin-left: 16.6666666667%; }
  .large-4 {
    width: 33.3333333333%; }
  .large-push-4 {
    position: relative;
    left: 33.3333333333%; }
  .large-pull-4 {
    position: relative;
    left: -33.3333333333%; }
  .large-offset-3 {
    margin-left: 25%; }
  .large-5 {
    width: 41.6666666667%; }
  .large-push-5 {
    position: relative;
    left: 41.6666666667%; }
  .large-pull-5 {
    position: relative;
    left: -41.6666666667%; }
  .large-offset-4 {
    margin-left: 33.3333333333%; }
  .large-6 {
    width: 50%; }
  .large-push-6 {
    position: relative;
    left: 50%; }
  .large-pull-6 {
    position: relative;
    left: -50%; }
  .large-offset-5 {
    margin-left: 41.6666666667%; }
  .large-7 {
    width: 58.3333333333%; }
  .large-push-7 {
    position: relative;
    left: 58.3333333333%; }
  .large-pull-7 {
    position: relative;
    left: -58.3333333333%; }
  .large-offset-6 {
    margin-left: 50%; }
  .large-8 {
    width: 66.6666666667%; }
  .large-push-8 {
    position: relative;
    left: 66.6666666667%; }
  .large-pull-8 {
    position: relative;
    left: -66.6666666667%; }
  .large-offset-7 {
    margin-left: 58.3333333333%; }
  .large-9 {
    width: 75%; }
  .large-push-9 {
    position: relative;
    left: 75%; }
  .large-pull-9 {
    position: relative;
    left: -75%; }
  .large-offset-8 {
    margin-left: 66.6666666667%; }
  .large-10 {
    width: 83.3333333333%; }
  .large-push-10 {
    position: relative;
    left: 83.3333333333%; }
  .large-pull-10 {
    position: relative;
    left: -83.3333333333%; }
  .large-offset-9 {
    margin-left: 75%; }
  .large-11 {
    width: 91.6666666667%; }
  .large-push-11 {
    position: relative;
    left: 91.6666666667%; }
  .large-pull-11 {
    position: relative;
    left: -91.6666666667%; }
  .large-offset-10 {
    margin-left: 83.3333333333%; }
  .large-12 {
    width: 100%; }
  .large-offset-11 {
    margin-left: 91.6666666667%; }
  .large-up-1 > .column, .large-up-1 > .columns {
    width: 100%;
    float: left; }
    .large-up-1 > .column:nth-of-type(1n), .large-up-1 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-1 > .column:nth-of-type(1n+1), .large-up-1 > .columns:nth-of-type(1n+1) {
      clear: both; }
    .large-up-1 > .column:last-child, .large-up-1 > .columns:last-child {
      float: left; }
  .large-up-2 > .column, .large-up-2 > .columns {
    width: 50%;
    float: left; }
    .large-up-2 > .column:nth-of-type(1n), .large-up-2 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-2 > .column:nth-of-type(2n+1), .large-up-2 > .columns:nth-of-type(2n+1) {
      clear: both; }
    .large-up-2 > .column:last-child, .large-up-2 > .columns:last-child {
      float: left; }
  .large-up-3 > .column, .large-up-3 > .columns {
    width: 33.3333333333%;
    float: left; }
    .large-up-3 > .column:nth-of-type(1n), .large-up-3 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-3 > .column:nth-of-type(3n+1), .large-up-3 > .columns:nth-of-type(3n+1) {
      clear: both; }
    .large-up-3 > .column:last-child, .large-up-3 > .columns:last-child {
      float: left; }
  .large-up-4 > .column, .large-up-4 > .columns {
    width: 25%;
    float: left; }
    .large-up-4 > .column:nth-of-type(1n), .large-up-4 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-4 > .column:nth-of-type(4n+1), .large-up-4 > .columns:nth-of-type(4n+1) {
      clear: both; }
    .large-up-4 > .column:last-child, .large-up-4 > .columns:last-child {
      float: left; }
  .large-up-5 > .column, .large-up-5 > .columns {
    width: 20%;
    float: left; }
    .large-up-5 > .column:nth-of-type(1n), .large-up-5 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-5 > .column:nth-of-type(5n+1), .large-up-5 > .columns:nth-of-type(5n+1) {
      clear: both; }
    .large-up-5 > .column:last-child, .large-up-5 > .columns:last-child {
      float: left; }
  .large-up-6 > .column, .large-up-6 > .columns {
    width: 16.6666666667%;
    float: left; }
    .large-up-6 > .column:nth-of-type(1n), .large-up-6 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-6 > .column:nth-of-type(6n+1), .large-up-6 > .columns:nth-of-type(6n+1) {
      clear: both; }
    .large-up-6 > .column:last-child, .large-up-6 > .columns:last-child {
      float: left; }
  .large-up-7 > .column, .large-up-7 > .columns {
    width: 14.2857142857%;
    float: left; }
    .large-up-7 > .column:nth-of-type(1n), .large-up-7 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-7 > .column:nth-of-type(7n+1), .large-up-7 > .columns:nth-of-type(7n+1) {
      clear: both; }
    .large-up-7 > .column:last-child, .large-up-7 > .columns:last-child {
      float: left; }
  .large-up-8 > .column, .large-up-8 > .columns {
    width: 12.5%;
    float: left; }
    .large-up-8 > .column:nth-of-type(1n), .large-up-8 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-8 > .column:nth-of-type(8n+1), .large-up-8 > .columns:nth-of-type(8n+1) {
      clear: both; }
    .large-up-8 > .column:last-child, .large-up-8 > .columns:last-child {
      float: left; }
  .large-collapse > .column, .large-collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .large-collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .large-uncollapse > .column, .large-uncollapse > .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem; }
  .large-centered {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .large-uncentered,
  .large-push-0,
  .large-pull-0 {
    position: static;
    margin-left: 0;
    margin-right: 0;
    float: left; } }

.hide {
  display: none !important; }

.invisible {
  visibility: hidden; }

@media screen and (max-width: 39.9375em) {
  .hide-for-small-only {
    display: none !important; } }

@media screen and (max-width: 0em), screen and (min-width: 40em) {
  .show-for-small-only {
    display: none !important; } }

@media screen and (min-width: 40em) {
  .hide-for-medium {
    display: none !important; } }

@media screen and (max-width: 39.9375em) {
  .show-for-medium {
    display: none !important; } }

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .hide-for-medium-only {
    display: none !important; } }

@media screen and (max-width: 39.9375em), screen and (min-width: 64em) {
  .show-for-medium-only {
    display: none !important; } }

@media screen and (min-width: 64em) {
  .hide-for-large {
    display: none !important; } }

@media screen and (max-width: 63.9375em) {
  .show-for-large {
    display: none !important; } }

@media screen and (min-width: 64em) and (max-width: 74.9375em) {
  .hide-for-large-only {
    display: none !important; } }

@media screen and (max-width: 63.9375em), screen and (min-width: 75em) {
  .show-for-large-only {
    display: none !important; } }

.show-for-sr,
.show-on-focus {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0); }

.show-on-focus:active, .show-on-focus:focus {
  position: static !important;
  height: auto;
  width: auto;
  overflow: visible;
  clip: auto; }

.show-for-landscape,
.hide-for-portrait {
  display: block !important; }
  @media screen and (orientation: landscape) {
    .show-for-landscape,
    .hide-for-portrait {
      display: block !important; } }
  @media screen and (orientation: portrait) {
    .show-for-landscape,
    .hide-for-portrait {
      display: none !important; } }

.hide-for-landscape,
.show-for-portrait {
  display: none !important; }
  @media screen and (orientation: landscape) {
    .hide-for-landscape,
    .show-for-portrait {
      display: none !important; } }
  @media screen and (orientation: portrait) {
    .hide-for-landscape,
    .show-for-portrait {
      display: block !important; } }

/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/
.u-full-width {
  width: 100%;
  box-sizing: border-box; }

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

.u-pull-right {
  float: right; }

.u-pull-left {
  float: left; }

textarea,
select {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box; }

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }

input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus {
  border: 1px solid #2199e8;
  outline: 0; }

textarea:focus,
select:focus {
  border: 1px solid #2199e8;
  outline: 0; }

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }

fieldset {
  padding: 0;
  border-width: 0; }

input[type="checkbox"], input[type="radio"] {
  display: inline; }

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

ul {
  list-style: circle inside; }

ol {
  list-style: decimal inside;
  padding-left: 0;
  margin-top: 0; }

ul {
  padding-left: 0;
  margin-top: 0; }
  ul ul, ul ol {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%; }

ol ol, ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }

li {
  margin-bottom: 1rem; }

code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-radius: 0; }

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e1e1e1; }

th:first-child,
td:first-child {
  padding-left: 0; }

th:last-child,
td:last-child {
  padding-right: 0; }

button,
.button {
  margin-bottom: 1rem; }

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }

.orange {
  background-color: #f2793d; }

.salmon {
  background-color: #e55069; }

.purple {
  background-color: #7562d9; }

.blue {
  background-color: #419ad9; }

.dark-gray {
  background-color: #1d2226; }

.brand-color {
  color: #419ad9; }

.brand-background {
  background-color: #419ad9; }

a {
  color: #419ad9;
  text-decoration: none; }

* {
  box-sizing: border-box; }

html {
  -webkit-font-smoothing: antialiased; }

a {
  text-decoration: none; }

html,
body,
div,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul,
li,
form,
legend,
label,
table,
header,
footer,
nav,
section,
figure {
  margin: 0;
  padding: 0; }

header,
footer,
nav,
section,
article,
hgroup,
figure {
  display: block; }

.animate-fade {
  transition: opacity .3s ease-out; }
  .animate-fade:hover {
    opacity: 0; }

.animate-move > .demo-shape {
  transition: all .8s ease-in-out; }

h1 {
  font-size: 3em;
  font-weight: 300; }

h2 {
  font-size: 2.25em;
  font-weight: 300; }

h3 {
  font-size: 1.75em;
  font-weight: 400; }

h4 {
  font-size: 1.5em;
  font-weight: 400; }

h5 {
  font-size: 1.25em;
  font-weight: 400; }

h6 {
  font-size: 1em;
  font-weight: 500; }

.swatch {
  display: inline-block;
  margin: 20px; }
  .swatch > div[class*="swatch--"] {
    border-radius: 35px;
    color: transparent;
    float: left;
    height: 70px;
    width: 70px; }

.swatch-desc {
  font-size: 14px;
  margin-left: 80px; }
  .swatch-desc span {
    color: #959fa6; }
  .swatch-desc span:first-child {
    font-size: 16px; }

.swatch--blue {
  background: #419ad9; }

.swatch--purple {
  background: #7562d9; }

.swatch--salmon {
  background: #e55069; }

.swatch--orange {
  background: #f2793d; }

.swatch--gold {
  background: #e0ac43; }

.swatch--green {
  background: #30bf78; }

.swatch--white {
  background: #fff;
  border: 1px solid #e1e4e5; }

.swatch--section-gray {
  background: #fafafa;
  border: 1px solid #e1e4e5; }

.swatch--border-gray {
  background: #e1e4e5; }

.swatch--light-gray {
  background: #c2c8cc; }

.swatch--ash-gray {
  background: #959fa6; }

.swatch--mid-gray {
  background: #737a80; }

.swatch--charcoal-gray {
  background: #435059; }

.swatch--gunmetal-gray {
  background: #303940; }

.swatch--dark-gray {
  background: #1d2226; }

.swatch--gradient--blue-aqua {
  background: #3284bf;
  background: linear-gradient(to right, #3284bf, #38b1d9);
  background: -webkit-linear-gradient(left, #3284bf, #38b1d9);
  background: -o-linear-gradient(left, #3284bf, #38b1d9);
  background: -ms-linear-gradient(left, #3284bf, #38b1d9);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#3284bf, endColorstr=#38b1d9,GradientType=1 ); }

.swatch--gradient--green-teal {
  background: #30bf78;
  background: linear-gradient(to right, #30bf78, #21d9ba);
  background: -webkit-linear-gradient(left, #30bf78, #21d9ba);
  background: -o-linear-gradient(left, #30bf78, #21d9ba);
  background: -ms-linear-gradient(left, #30bf78, #21d9ba);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#30bf78, endColorstr=#21d9ba,GradientType=1 ); }

.swatch--gradient--orange-gold {
  background: #f2793d;
  background: linear-gradient(to right, #f2793d, #f2973d);
  background: -webkit-linear-gradient(left, #f2793d, #f2973d);
  background: -o-linear-gradient(left, #f2793d, #f2973d);
  background: -ms-linear-gradient(left, #f2793d, #f2973d);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#f2793d, endColorstr=#f2973d,GradientType=1 ); }

.swatch--gradient--purple-aqua {
  background: #a250e5;
  background: linear-gradient(to right, #a250e5, #17e5e5);
  background: -webkit-linear-gradient(left, #a250e5, #17e5e5);
  background: -o-linear-gradient(left, #a250e5, #17e5e5);
  background: -ms-linear-gradient(left, #a250e5, #17e5e5);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#a250e5, endColorstr=#17e5e5,GradientType=1 ); }

.swatch--gradient--salmon-orange {
  background: #ff4c88;
  background: linear-gradient(to right, #ff4c88, #e57a45);
  background: -webkit-linear-gradient(left, #ff4c88, #e57a45);
  background: -o-linear-gradient(left, #ff4c88, #e57a45);
  background: -ms-linear-gradient(left, #ff4c88, #e57a45);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#ff4c88, endColorstr=#e57a45,GradientType=1 ); }

.swatch--gradient--aqua-green {
  background: #41b3d9;
  background: linear-gradient(to right, #41b3d9, #36d987);
  background: -webkit-linear-gradient(left, #41b3d9, #36d987);
  background: -o-linear-gradient(left, #41b3d9, #36d987);
  background: -ms-linear-gradient(left, #41b3d9, #36d987);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#41b3d9, endColorstr=#36d987,GradientType=1 ); }

.icon--circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 0.0625em solid #e1e4e5; }

.sg-main .glyphs input[type="text"] {
  margin: 5px 0 0;
  width: auto; }

.glyphs.character-mapping {
  border: 1px solid #d8e0e5;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.5);
  margin: 0 0 20px;
  padding: 20px 0 20px 30px; }
  .glyphs.character-mapping li {
    display: inline-block;
    margin: 0 30px 20px 0;
    width: 90px; }
  .glyphs.character-mapping .icon {
    border-radius: 3px;
    color: #162a36;
    font-size: 32px;
    height: 55px;
    margin: 10px 0 10px 15px;
    overflow: hidden;
    padding: 15px;
    position: relative;
    width: 55px; }
    .glyphs.character-mapping .icon svg {
      fill: #000; }
  .glyphs.character-mapping input {
    border: 1px solid #d8e0e5;
    border-radius: 5px;
    display: block;
    font-size: 12px;
    line-height: 12px;
    margin: 0;
    outline: 0;
    padding: 5px 0;
    text-align: center;
    width: 100%; }
    .glyphs.character-mapping input:focus {
      border: 1px solid #fbde4a;
      box-shadow: inset 0 0 3px #fbde4a; }
    .glyphs.character-mapping input:hover {
      box-shadow: inset 0 0 3px #fbde4a; }

.glyphs.css-mapping {
  border: 1px solid #d8e0e5;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.5);
  margin: 0 0 60px;
  padding: 30px 0 20px 30px; }
  .glyphs.css-mapping li {
    display: inline-block;
    margin: 0 30px 20px 0;
    overflow: hidden;
    padding: 0; }
  .glyphs.css-mapping .icon {
    color: #162a36;
    float: left;
    font-size: 24px;
    height: 50px;
    margin: 0;
    margin-right: 10px;
    overflow: hidden;
    padding: 13px;
    width: 50px; }
  .glyphs.css-mapping input {
    background: #fff;
    border: 1px solid #d8e0e5;
    border-radius: 5px;
    display: block;
    float: right;
    font-size: 16px;
    height: 40px;
    line-height: 16px;
    margin: 0;
    margin-top: 5px;
    outline: 0;
    padding: 8px;
    width: 150px; }
    .glyphs.css-mapping input:focus {
      border: 1px solid #fbde4a;
      box-shadow: inset 0 0 3px #fbde4a; }
    .glyphs.css-mapping input:hover {
      box-shadow: inset 0 0 3px #fbde4a; }

@font-face {
  font-family: "stm-global-icons";
  src: url("../fonts/stm-global-icons.eot");
  src: url("../fonts/stm-global-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/stm-global-icons.woff") format("woff"), url("../fonts/stm-global-icons.ttf") format("truetype"), url("../fonts/stm-global-icons.svg#stm-global-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: "stm-global-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "stm-global-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-ui-menu-answers:before {
  content: "\74"; }

.icon-ui-menu-drive:before {
  content: "\75"; }

.icon-ui-menu-texty:before {
  content: "\77"; }

.icon-ui-search:before {
  content: "\79"; }

.icon-ui-social-fb:before {
  content: "\7a"; }

.icon-ui-social-insta:before {
  content: "\42"; }

.icon-ask:before {
  content: "\6b"; }

.icon-document:before {
  content: "\6c"; }

.icon-eye:before {
  content: "\6d"; }

.icon-sm-logo-global:before {
  content: "\39"; }

.icon-arts-humanities:before {
  content: "\24"; }

.icon-business-economy:before {
  content: "\25"; }

.icon-computers-internet:before {
  content: "\26"; }

.icon-education:before {
  content: "\27"; }

.icon-entertainment:before {
  content: "\28"; }

.icon-governments:before {
  content: "\29"; }

.icon-health-medicine:before {
  content: "\2a"; }

.icon-news-media:before {
  content: "\2b"; }

.icon-recreation-sports:before {
  content: "\2c"; }

.icon-science:before {
  content: "\2d"; }

.icon-social-science:before {
  content: "\3a"; }

.icon-society-culture:before {
  content: "\3b"; }

.icon-check-circle:before {
  content: "\54"; }

.icon-sm-logo:before {
  content: "\61"; }

.icon-ui-social-tw:before {
  content: "\43"; }

.icon-cite:before {
  content: "\62"; }

.icon-favorite:before {
  content: "\63"; }

.icon-more:before {
  content: "\64"; }

.icon-share:before {
  content: "\65"; }

.icon-plus-sm:before {
  content: "\66"; }

.logo {
  background-image: url("../images/logos/stm/svg/sm-logo-research.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  float: left;
  height: 62px;
  margin: 0 0 0 10px;
  width: 185px; }

.logo__link {
  display: block;
  height: 100%;
  text-indent: -9999px;
  width: 100%; }

table {
  border: 1px solid #e1e4e5;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }

th {
  border: 1px solid #e1e4e5;
  padding: .2em;
  text-align: left; }

td {
  border: 1px solid #e1e4e5;
  padding: .2em; }

.sm-tag {
  -webkit-border-radius: 0.9375rem;
  -moz-border-radius: 0.9375rem;
  -ms-border-radius: 0.9375rem;
  border-radius: 0.9375rem;
  border: 0.0625rem solid #e1e4e5;
  color: #737a80;
  display: inline-block;
  font-size: 0.6875rem;
  font-weight: 500;
  letter-spacing: 0.125rem;
  margin-bottom: 0.625rem;
  padding: 0.1875rem 0.625rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase; }
  .sm-tag--light {
    background: rgba(255, 255, 255, 0.2);
    color: #fff; }
  .sm-tag--inverse {
    background: rgba(255, 255, 255, 0.2);
    border-color: transparent;
    color: #fff; }
  .sm-tag--blue {
    background: #419ad9;
    background: linear-gradient(to right, #419ad9, #54badd);
    background: -webkit-linear-gradient(left, #419ad9, #54badd);
    background: -o-linear-gradient(left, #419ad9, #54badd);
    background: -ms-linear-gradient(left, #419ad9, #54badd);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#419ad9, endColorstr=#54badd,GradientType=1 );
    color: #fff; }
  .sm-tag--orange {
    background-color: #f2793d;
    color: #fff; }
  .sm-tag--green {
    background-color: #30bf78;
    color: #fff; }
  .sm-tag--salmon {
    background-color: #e55069;
    color: #fff; }
  .sm-tag--purple {
    background-color: #7562d9;
    color: #fff; }
  .sm-tag--small {
    -webkit-border-radius: 0.625rem;
    -moz-border-radius: 0.625rem;
    -ms-border-radius: 0.625rem;
    border-radius: 0.625rem;
    font-size: 0.625em;
    line-height: 1.125em;
    padding: 0.1875em 0.5rem; }

.label {
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  border-radius: 0.25rem;
  background-color: #c2c8cc;
  border: 0 solid transparent;
  color: #fff;
  display: inline-block;
  font-size: 0.6875rem;
  font-weight: 600;
  letter-spacing: 0.125rem;
  line-height: 1;
  margin-bottom: 0.625rem;
  padding: 0.4375rem 0.8125rem;
  text-transform: uppercase;
  vertical-align: baseline;
  white-space: nowrap; }
  .label--blue {
    background: #419ad9;
    background: linear-gradient(to right, #419ad9, #54badd);
    background: -webkit-linear-gradient(left, #419ad9, #54badd);
    background: -o-linear-gradient(left, #419ad9, #54badd);
    background: -ms-linear-gradient(left, #419ad9, #54badd);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#419ad9, endColorstr=#54badd,GradientType=1 ); }
  .label--orange {
    background-color: #f2793d; }
  .label--green {
    background-color: #30bf78; }
  .label--salmon {
    background-color: #e55069; }
  .label--purple {
    background-color: #7562d9; }

.search-box {
  box-shadow: 0 6px 12px rgba(50, 50, 50, 0.1);
  display: inline-block;
  position: relative;
  width: 100%; }
  .search-box__input {
    border: 1px solid transparent;
    border-radius: 4px;
    display: inline-block;
    font-size: 0.875rem;
    height: 60px;
    margin: 0;
    padding: 1.25rem 3.75rem 1.25rem 1.875rem;
    position: relative;
    width: 100%;
    z-index: 1; }
  .search-box button {
    border: 0;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    display: block;
    height: 60px;
    margin: 0;
    outline: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: top;
    width: 60px;
    z-index: 2; }
  .search-box__icon {
    color: #fff;
    font-size: 22px;
    line-height: 60px;
    text-align: center; }
    .search-box__icon [data-icon]::before,
    .search-box__icon [class^="icon-"]::before,
    .search-box__icon [class*=" icon-"]::before {
      vertical-align: middle; }

button,
.button {
  -webkit-border-radius: 1.125rem;
  -moz-border-radius: 1.125rem;
  -ms-border-radius: 1.125rem;
  border-radius: 1.125rem;
  background-color: #419ad9;
  border: 1px solid #419ad9;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  height: 36px;
  line-height: 2.4em;
  margin: 0 0 15px;
  padding: 0 18px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  width: 100%; }
  button:active,
  .button:active {
    box-shadow: 0 6px 12px rgba(50, 50, 50, 0.1);
    outline: 0; }
  button:hover,
  .button:hover {
    box-shadow: 0 6px 12px rgba(50, 50, 50, 0.1);
    outline: 0;
    transition: all .2s ease-in-out; }
  button:focus,
  .button:focus {
    box-shadow: 0 6px 12px rgba(50, 50, 50, 0.1);
    outline: 0; }
  button--disabled,
  .button--disabled {
    background-color: #e1e4e5;
    border: 1px solid transparent; }
    button--disabled:hover,
    .button--disabled:hover {
      box-shadow: none;
      transition: none; }
  button--outline,
  .button--outline {
    background-color: transparent;
    border: 1px solid #c2c8cc;
    color: #419ad9; }
    button--outline.button--disabled,
    .button--outline.button--disabled {
      border: 1px solid #c2c8cc;
      color: #c2c8cc; }
      button--outline.button--disabled:hover,
      .button--outline.button--disabled:hover {
        border-color: #c2c8cc;
        box-shadow: none;
        outline: 0;
        transition: none; }
    button--outline:hover,
    .button--outline:hover {
      border: 1px solid #419ad9;
      box-shadow: none; }
  button--inverse,
  .button--inverse {
    background-color: transparent;
    border: 1px solid #419ad9;
    color: #419ad9; }
    button--inverse.button--disabled,
    .button--inverse.button--disabled {
      border: 1px solid #abd2ee;
      color: #abd2ee; }
      button--inverse.button--disabled:hover,
      .button--inverse.button--disabled:hover {
        background-color: transparent;
        border: 1px solid #abd2ee;
        box-shadow: none;
        color: #abd2ee;
        outline: 0;
        transition: none; }
    button--inverse:hover,
    .button--inverse:hover {
      background-color: #419ad9;
      box-shadow: none;
      color: #fff; }
  button--blue,
  .button--blue {
    background-color: #419ad9;
    border: 1px solid transparent;
    color: #fff; }
  button--orange,
  .button--orange {
    background-color: #f2793d;
    border: 1px solid transparent;
    color: #fff; }
  button--green,
  .button--green {
    background-color: #30bf78;
    border: 1px solid transparent;
    color: #fff; }
  button--salmon,
  .button--salmon {
    background-color: #e55069;
    border: 1px solid transparent;
    color: #fff; }
  button--purple,
  .button--purple {
    background-color: #7562d9;
    border: 1px solid transparent;
    color: #fff; }

.clearfix,
[role=main] {
  zoom: 1; }

.clearfix::before,
[role=main]::before,
.clearfix::after,
[role=main]::after {
  content: " ";
  display: table; }

.clearfix::after,
[role=main]::after {
  clear: both; }

.padding-bottom-sm {
  padding-bottom: 15px; }

.padding-bottom-lg {
  padding-bottom: 30px; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.sm-text-left {
  text-align: left; }

.sm-text-center {
  text-align: center; }

.sm-text-right {
  text-align: right; }

@media screen and (min-width: 40em) {
  .md-text-left {
    text-align: left; }
  .md-text-center {
    text-align: center; }
  .md-text-right {
    text-align: right; } }

@media screen and (min-width: 64em) {
  .lg-text-left {
    text-align: left; }
  .lg-text-center {
    text-align: center; }
  .lg-text-right {
    text-align: right; } }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.right {
  float: right;
  padding: 0 0 1rem 1rem; }

.right-search {
  float: right;
  padding: 0 0 1rem; }

.left {
  float: left;
  padding: 0 1rem 1rem 0; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

@media all and (max-width: 46.8em) {
  .hide-small {
    display: none; } }

@media all and (min-width: 46.8em) and (max-width: 50em) {
  .hide-med {
    display: none; } }

@media all and (min-width: 50em) {
  .hide-large {
    display: none; } }

@media all and (min-width: 66em) {
  .hide-large-2 {
    display: none; } }

.valid {
  color: #30bf78; }

.error {
  color: #f44336; }

.card {
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  border-radius: 0.25rem;
  background-color: #fff;
  border: 0.0625rem solid #e1e4e5;
  line-height: 1.75;
  min-height: 0;
  padding: 1.5rem; }
  @media screen and (min-width: 64em) {
    .card {
      min-height: 230px; } }
  .card a {
    color: #737a80; }
    .card a:hover {
      color: #419ad9; }
  .card__link {
    color: #737a80;
    font-size: 0.75em;
    font-weight: 500;
    letter-spacing: 0.0625rem;
    text-transform: uppercase; }
    .card__link::after {
      color: #959fa6;
      content: " ›";
      font-size: 1rem;
      margin-left: 0.3125rem; }
  .card h6 {
    line-height: 1.2;
    margin-bottom: 0.3125rem; }
  .card__content {
    color: #959fa6;
    font-size: 0.875em;
    margin-bottom: 0.625rem; }
    @media screen and (min-width: 64em) {
      .card__content {
        min-height: 6em; } }
  .card--label h6 {
    font-size: 1.25em;
    line-height: 1.2;
    margin-bottom: 0.625rem; }
  .card--label p {
    margin-bottom: 0;
    position: relative; }
    .card--label p::after {
      background: transparent;
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), #fff);
      background: -webkit-gradient(left top, left bottom, rgba(255, 255, 255, 0), #fff);
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), #fff);
      background: -o-linear-gradient(top, rgba(255, 255, 255, 0), #fff);
      background: -ms-linear-gradient(top, rgba(255, 255, 255, 0), #fff);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2', GradientType=0);
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }
  @media screen and (min-width: 64em) {
    .card--avatar {
      min-height: 250px; } }
  .card--avatar blockquote {
    margin-top: 0.9375em; }

.card--cta {
  background-color: transparent;
  border: 0.0625rem solid #435059;
  border-top: 0.125em solid #419ad9;
  line-height: 1;
  min-height: 200px;
  padding: 2.5rem 0.625rem 1.25rem;
  text-align: center; }
  .card--cta h5 {
    color: #fff;
    margin-bottom: 0.625rem; }
  .card--cta p {
    color: #c2c8cc;
    font-size: 0.875em; }
  .card--cta .icon {
    color: #419ad9;
    font-size: 2.5em; }
  .card--cta.cta--drive {
    border-top: 0.125em solid #f2793d; }
    .card--cta.cta--drive .icon {
      color: #f2793d; }
    .card--cta.cta--drive .card--cta__colored-text {
      color: #f2793d; }
  .card--cta.cta--texty {
    border-top: 0.125em solid #fbde4a; }
    .card--cta.cta--texty .icon {
      color: #fbde4a; }
    .card--cta.cta--texty .card--cta__colored-text {
      color: #fbde4a; }
  .card--cta.cta--answers {
    border-top: 0.125em solid #30bf78; }
    .card--cta.cta--answers .icon {
      color: #30bf78; }
    .card--cta.cta--answers .card--cta__colored-text {
      color: #30bf78; }
  .card--cta.cta--studymode {
    border-top: 0.125em solid #419ad9; }
    .card--cta.cta--studymode .icon {
      color: #419ad9; }
    .card--cta.cta--studymode .card--cta__colored-text {
      color: #419ad9; }

.card-brick {
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  border-radius: 0.25rem;
  background-color: #fff;
  border: 0.0625rem solid #e1e4e5;
  margin-bottom: 1.5rem;
  padding: 0.9375rem; }
  .card-brick__title {
    color: #435059;
    display: block;
    float: left;
    font-size: 1em;
    font-weight: 500;
    line-height: 1;
    margin-top: 0.1875em; }
  .card-brick__avatars {
    float: right; }
  .card-brick__avatar {
    -webkit-border-radius: 0.625rem;
    -moz-border-radius: 0.625rem;
    -ms-border-radius: 0.625rem;
    border-radius: 0.625rem;
    color: #fff;
    display: block;
    float: left;
    font-size: 0.75em;
    font-weight: 700;
    height: 1.5em;
    line-height: 1.5em;
    margin: 0 0.3125em 0 0;
    text-align: center;
    width: 1.5em; }
    .card-brick__avatar:last-child {
      margin-right: 0; }
  .card-brick__sub-title {
    color: #419ad9;
    float: left;
    font-size: 0.875em;
    line-height: 1; }
  .card-brick__icons-detail {
    color: #737a80;
    float: right;
    font-size: 0.875em;
    line-height: 1; }
  .card-brick:hover {
    box-shadow: 0 6px 12px rgba(50, 50, 50, 0.1);
    transition: all .25s; }

.card-row + .card-row {
  margin-top: 0.3125em; }

.card-row::after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

.component-category {
  margin-bottom: 1.875em;
  max-width: 300px;
  padding: 0.3125em 0;
  text-align: center; }
  .component-category p {
    color: #435059;
    font-size: 0.875em; }
  .component-category__icon {
    color: #419ad9;
    display: inline-block;
    font-size: 1.75em;
    height: 40px; }

.hero-bullets [data-icon]::before,
.hero-bullets [class^="icon-"]::before,
.hero-bullets [class*=" icon-"]::before {
  vertical-align: middle; }

.hero-bullets__item {
  display: inline-block;
  text-align: center; }
  .hero-bullets__item .icon {
    display: block;
    font-size: 1.5em;
    margin-bottom: 0.0625em; }
  .hero-bullets__item span {
    font-size: 0.875em;
    line-height: 1; }

.copyright-block {
  color: #959fa6;
  margin-bottom: 1.5625rem; }
  .copyright-block__icon {
    height: 1.875em;
    margin-bottom: 2.1875em; }
    .copyright-block__icon i {
      font-size: 1.875em; }
      @media screen and (min-width: 40em) {
        .copyright-block__icon i {
          float: left;
          margin-right: 0.25em; } }
    .copyright-block__icon span {
      display: inline-block;
      font-size: 1em;
      font-weight: 400;
      line-height: 1.875em;
      vertical-align: top; }
      @media screen and (min-width: 40em) {
        .copyright-block__icon span {
          float: left; } }
  .copyright-block__social {
    margin-bottom: 1.875em; }
    .copyright-block__social .icon--circle {
      border-color: #435059;
      display: inline-block;
      height: 2.3125em;
      margin-right: 0.4375em;
      text-align: center;
      width: 2.3125em; }
      .copyright-block__social .icon--circle .icon {
        color: #c2c8cc;
        font-size: 1em;
        line-height: 2.6em; }
  .copyright-block small {
    display: block;
    font-size: 0.875em; }

.media-block {
  line-height: 1.75;
  padding-left: 5.625rem;
  position: relative; }
  .media-block__avatar {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    border: 0.0625em solid #e1e4e5;
    height: 60px;
    left: 0;
    line-height: 1;
    padding: 0.75em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 60px; }
    .media-block__avatar .icon {
      color: #419ad9;
      font-size: 1.25em;
      line-height: 2em; }
  .media-block__content h5 {
    font-size: 1em;
    font-weight: 500; }
  .media-block__content p {
    color: #959fa6;
    font-size: 0.875em;
    margin-bottom: 0; }

.card--avatar .media-block {
  margin-bottom: 0;
  padding-left: 3.125em; }
  .card--avatar .media-block__content h5 {
    font-size: 0.875em;
    line-height: 1; }
  .card--avatar .media-block__avatar {
    border: 0;
    height: auto;
    padding: 0;
    width: auto; }
    .card--avatar .media-block__avatar img {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      height: 2em;
      width: 2em; }

.section-content .column > .media-block, .section-content .columns > .media-block,
.section-content .columns > .media-block {
  margin-bottom: 3.75rem; }

.nav-tabs {
  margin-bottom: 0.9375rem;
  text-align: center; }
  @media screen and (min-width: 64em) {
    .nav-tabs {
      text-align: right; } }
  .nav-tabs__item {
    border-bottom: 2px solid transparent;
    color: #959fa6;
    display: inline-block;
    font-size: 0.75em;
    font-weight: 500;
    letter-spacing: 0.0625em;
    margin: 0 0.625em;
    padding: 0.625em;
    text-transform: uppercase; }
    .nav-tabs__item:hover {
      border-bottom: 2px solid #c2c8cc; }
  .nav-tabs__content {
    display: none; }
    .nav-tabs__content--active {
      display: block; }
  .nav-tabs--active {
    border-bottom: 2px solid #419ad9;
    color: #419ad9; }
    .nav-tabs--active:hover {
      border-color: #419ad9; }

.vertical-nav-list {
  margin-bottom: 1.7rem; }
  .vertical-nav-list__heading {
    color: #737a80;
    font-size: 0.8125em;
    letter-spacing: 0.125em;
    margin-bottom: 1.25em;
    text-transform: uppercase; }
  .vertical-nav-list ul {
    list-style: none; }
  .vertical-nav-list__item {
    line-height: 1.75em; }
    .vertical-nav-list__item a {
      color: #959fa6;
      font-weight: 500;
      margin-right: 0.3125em; }

.section-content--footer .vertical-nav-list__item a {
  color: #c2c8cc; }

.section-heading {
  margin-bottom: 0.9375rem;
  min-height: 50px;
  text-align: center; }
  @media screen and (min-width: 64em) {
    .section-heading {
      text-align: left; } }
  .section-heading h3 {
    font-size: 1.5em;
    margin-bottom: 0.3125em; }
  .section-heading p {
    color: #959fa6;
    font-size: 0.875em;
    margin-bottom: 0.75em; }
  .section-heading--hero {
    margin-bottom: 3.75rem;
    padding-top: 0.625rem;
    text-align: center; }
    .section-heading--hero h1 {
      font-size: 2.25em;
      margin-bottom: 0.625rem; }
    .section-heading--hero h2 {
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 3.125rem; }

.section-content--hero .section-heading--hero {
  margin-bottom: 1.25em;
  padding-top: 0; }
  .section-content--hero .section-heading--hero h1 {
    font-size: 2em;
    margin-bottom: 0.3125em; }
    @media screen and (min-width: 64em) {
      .section-content--hero .section-heading--hero h1 {
        font-size: 3em; } }

.section-content--inverse .section-heading--hero {
  margin-bottom: 2.125em; }

.tag-block {
  margin-bottom: 0; }
  @media screen and (min-width: 64em) {
    .tag-block {
      margin-bottom: 1.875rem; } }

.section-content {
  background-color: #fff;
  border-bottom: 0.0625rem solid #e1e4e5;
  padding: 3.75rem 0 3.125rem;
  position: relative; }
  .section-content h2 {
    color: #959fa6;
    margin-bottom: 0.9375em; }
  .section-content--hero {
    background: url("../images/hero-3.jpg") no-repeat center center;
    background-color: #435059;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    padding: 3.125rem 0;
    text-align: center; }
    .section-content--hero h2 {
      color: #fff; }
    .section-content--hero .search-box {
      margin-bottom: 1.5625rem;
      max-width: 48.125rem; }
    .section-content--hero .section-heading--hero {
      margin-bottom: 1.25em; }
    .section-content--hero .hero__bullets {
      display: block;
      text-align: center;
      width: 100%; }
      @media screen and (min-width: 64em) {
        .section-content--hero .hero__bullets {
          display: table; } }
      .section-content--hero .hero__bullets [data-icon]::before,
      .section-content--hero .hero__bullets [class^="icon-"]::before,
      .section-content--hero .hero__bullets [class*=" icon-"]::before {
        vertical-align: sub; }
      .section-content--hero .hero__bullets__item {
        display: block;
        margin-bottom: 0.9375rem;
        width: 100%; }
        @media screen and (min-width: 64em) {
          .section-content--hero .hero__bullets__item {
            display: table-cell;
            width: 33%; } }
        .section-content--hero .hero__bullets__item span {
          font-size: 0.875em; }
  .section-content--gray {
    background-color: #fafafa;
    padding: 3.125rem 0 1.25rem; }
    .section-content--gray a {
      display: block; }
      .section-content--gray a:hover p {
        color: #419ad9; }
  .section-content.section-content--inverse {
    background-color: #303940;
    border-bottom: 0;
    color: #c2c8cc;
    padding-bottom: 3.4375rem; }
    .section-content.section-content--inverse h1 {
      color: #fff; }
    .section-content.section-content--inverse h2 {
      color: #c2c8cc; }
    .section-content.section-content--inverse .card {
      margin-bottom: 1.875rem; }
      @media screen and (min-width: 40em) {
        .section-content.section-content--inverse .card {
          margin-bottom: 0; } }
  .section-content--footer {
    background-color: #1d2226;
    text-align: center; }
    @media screen and (min-width: 40em) {
      .section-content--footer {
        text-align: left; } }
  .section-content .button {
    margin-bottom: 0; }
  .section-content .card {
    margin-bottom: 1.875rem; }

.top-nav {
  background-color: #737a80;
  padding: 1.25rem;
  text-align: center; }

html {
  background: #fff; }

body {
  background: #fafafa;
  color: #435059;
  font: 16px "Roboto", "Helvetica", "Arial", sans-serif;
  margin-bottom: 50px; }

/*# sourceMappingURL=style.css.map */