{{#labelExamples}}
{{&gt; atoms-label}}
{{/labelExamples}}

&lt;div class=&quot;brand-background examples-padding&quot;&gt;
&Tab;{{#labelExamplesLight}}
&Tab;{{&gt; atoms-label}}
&Tab;{{/labelExamplesLight}}
&lt;/div&gt;&lt;br&gt;

&lt;div class=&quot;dark-gray examples-padding&quot;&gt;
&Tab;{{#labelExamplesInverse}}
&Tab;{{&gt; atoms-label}}
&Tab;{{/labelExamplesInverse}}
&lt;/div&gt;
