<div class="grid-demo">
  
  <h4>Basic Rows</h4>
  
  <div class="row">
    <div class="large-1 columns">large-1</div>
    <div class="large-11 columns">large-11</div>
  </div>
  
  <div class="row">
    <div class="large-2 columns">large-2</div>
    <div class="large-10 columns">large-10</div>
  </div>
  
  <div class="row">
    <div class="large-3 columns">large-3</div>
    <div class="large-9 columns">large-9</div>
  </div>
  
  <div class="row">
    <div class="large-4 columns">large-4</div>
    <div class="large-8 columns">large-8</div>
  </div>
  
  <div class="row">
    <div class="large-5 columns">large-5</div>
    <div class="large-7 columns">large-7</div>
  </div>
  
  <div class="row">
    <div class="large-6 columns">large-6</div>
    <div class="large-6 columns">large-6</div>
  </div>
  
  <div class="row">
    <div class="large-7 columns">large-7</div>
    <div class="large-5 columns">large-5</div>
  </div>
  
  <div class="row">
    <div class="large-8 columns">large-8</div>
    <div class="large-4 columns">large-4</div>
  </div>
  
  <div class="row">
    <div class="large-9 columns">large-9</div>
    <div class="large-3 columns">large-3</div>
  </div>
  
  <div class="row">
    <div class="large-10 columns">large-10</div>
    <div class="large-2 columns">large-2</div>
  </div>
  
  <div class="row">
    <div class="large-11 columns">large-11</div>
    <div class="large-1 columns">large-1</div>
  </div>
</div>

<div class="grid-demo">
  
  <h4>Per Display Size</h4>
  
  <div class="row">
    <div class="small-2 large-4 columns">
      <span class="hide-for-large">small-2</span>
      <span class="show-for-large">large-4</span>
    </div>
    <div class="small-4 large-4 columns">
      <span class="hide-for-large">small-4</span>
      <span class="show-for-large">large-4</span>
    </div>
    <div class="small-6 large-4 columns">
      <span class="hide-for-large">small-6</span>
      <span class="show-for-large">large-4</span>
    </div>
  </div>
  
  <div class="row">
    <div class="small-8 large-10 columns">
      <span class="hide-for-large">small-8</span>
      <span class="show-for-large">large-10</span>
    </div>
    <div class="small-4 large-2 columns">
      <span class="hide-for-large">small-4</span>
      <span class="show-for-large">large-2</span>
    </div>
  </div>
  
</div>


<div class="grid-demo">
  
  <h4>Visibility Classes</h4>
  
  <ul class="ulanel">
    <li class="show-for-small-only">This text is shown only on a small screen. <code>show-for-small-only</code></li>
    <li class="show-for-medium">This text is shown on medium screens and up. <code>show-for-medium</code></li>
    <li class="show-for-medium-only">This text is shown only on a medium screen. <code>show-for-medium-only</code></li>
    <li class="show-for-large">This text is shown on large screens and up. <code>show-for-large</code></li>
  </ul>
  
</div>
