&lt;form class=&quot;search-box&quot;&gt;
  &lt;input type=&quot;text&quot; class=&quot;search-box__input&quot; placeholder=&quot;{{text.placeholder}}&quot;&gt;
  &lt;button type=&quot;submit&quot;&gt;
    &lt;span class=&quot;search-box__icon&quot;&gt;{{&gt; atoms-icon(icon-name: &quot;ui-search&quot;)}}&lt;/span&gt;
  &lt;/button&gt;
&lt;/form&gt;
