<aside class="card card--avatar">
  
  <div class="media-block">
    <span class="media-block__avatar">
      <img src="{{img}}">
    </span>
    
    <span class="media-block__content">
      <h5>{{text.avatarCardTitle}}</h5>
      <p>{{text.avatarCardContent}}</p>
    </span>
  </div>
  
  <blockquote>
    "{{text.avatarCardQuote}}"
  </blockquote>
  
</aside>
