<div class="card card--cta {{cardCtaClass}}">
  
  <i class="icon {{cardCtaIcon}}"></i>
  
  <h5>
    StudyMode<span class="card--cta__colored-text">{{text.cardProperty}}</span>
  </h5>
  
  <p>{{text.cardCta}}</p>
  
</div>
