<div class="col-xs-12 col-md-6"><!--use for boostrap grid only-->

    <div class="card-brick department-card">
      <div class="card-row">
        <span class="card-brick__title">Department Name</span>
        <span class="card-brick__avatars">
          <div class="card-brick__avatar avatar-small orange">D</div>
          <div class="card-brick__avatar avatar-small salmon">Z</div>
          <div class="card-brick__avatar avatar-small purple">B</div>
          <div class="card-brick__avatar avatar-small blue">+2</div>
        </span>
      </div>
      <div class="card-row">
        <span class="card-brick__sub-title brand-color"><strong>{{ cardDocumentsNumber }}</strong> {{ cardDocumentsLabel }}</span>
        <span class="card-brick__icons-detail">
          <strong>{{ cardStudentsNumber }}</strong> {{ cardStudentsLabel }}
        </span>
      </div>
    </div>

</div><!--end .row use for boostrap grid only-->