&lt;div class=&quot;media-block&quot;&gt;
  
  &lt;span class=&quot;media-block__avatar&quot;&gt;
    &lt;i class=&quot;icon {{icon}}&quot;&gt;&lt;/i&gt;
  &lt;/span&gt;
  
  &lt;span class=&quot;media-block__content&quot;&gt;
    &lt;h5&gt;{{text.mediaBlockTitle}}&lt;/h5&gt;
    &lt;p&gt;{{text.mediaBlockContent}}&lt;/p&gt;
  &lt;/span&gt;
  
&lt;/div&gt;
