{{#labelExamples}}
{{> atoms-label}}
{{/labelExamples}}

<div class="brand-background examples-padding">
	{{#labelExamplesLight}}
	{{> atoms-label}}
	{{/labelExamplesLight}}
</div><br>

<div class="dark-gray examples-padding">
	{{#labelExamplesInverse}}
	{{> atoms-label}}
	{{/labelExamplesInverse}}
</div>
