{{#tagExamples}}
{{> atoms-tag}}
{{/tagExamples}}

<div class="brand-background examples-padding">
	{{#tagExamplesLight}}
	{{> atoms-tag}}
	{{/tagExamplesLight}}
</div><br>

<div class="dark-gray examples-padding">
	{{#tagExamplesInverse}}
	{{> atoms-tag}}
	{{/tagExamplesInverse}}
</div>
