<div class="section-heading">
  <div class="row">
    <div class="large-12 columns">
      
      <h3>{{text.sectionHeading}}</h3>
    
      {{# text.sectionSubheading}}
      <p>{{text.sectionSubheading}}</p>
      {{/ text.sectionSubheading}}

    </div>
  </div>
</div>