<div class="section-heading section-heading--hero">
  <div class="row">
    <div class="large-12 columns">
      <h1>{{text.heroTitle}}</h1>
      <h2>{{text.heroSubtitle}}</h2>
    </div>
  </div>
</div>
