&lt;div class=&quot;component-category&quot;&gt;
  &lt;i class=&quot;icon {{categoryIcon}} component-category__icon&quot;&gt;&lt;/i&gt;
  &lt;p class=&quot;component-category__heading&quot;&gt;{{text.categoryName}}&lt;/p&gt;
&lt;/div&gt;
