&lt;div class=&quot;card {{styleModifier}}&quot;&gt;
  
  {{# cardLabel}}
  {{&gt; atoms-label}}
  {{/ cardLabel}}
  
  &lt;a href=&quot;{{url}}&quot;&gt;
    &lt;h6&gt;{{text.cardTitle}}&lt;/h6&gt;
  &lt;/a&gt;
   
  &lt;p class=&quot;card__content&quot;&gt;{{text.cardContent}}&lt;/p&gt;
  
  &lt;a class=&quot;card__link&quot; href=&quot;{{url}}&quot;&gt;{{text.cardLink}}&lt;/a&gt;
  
&lt;/div&gt;
