{{# topNav}}
{{&gt; organisms-top-nav}}
{{/ topNav}}

{{# sectionHero}}
{{&gt; organisms-section-hero}}
{{/ sectionHero}}

{{# browseCategory}}
{{&gt; organisms-browse-category}}
{{/ browseCategory}}

{{# writingTips}}
{{&gt; organisms-writing-tips}}
{{/ writingTips}}

{{# exampleEssays}}
{{&gt; organisms-example-essays}}
{{/ exampleEssays}}

{{# popularTopics}}
{{&gt; organisms-popular-research-topics}}
{{/ popularTopics}}

{{# writingGenius}}
{{&gt; organisms-become-writing-genius}}
{{/ writingGenius}}

{{# sectionInverse}}
{{&gt; organisms-section-inverse}}
{{/ sectionInverse}}

{{# sectionFooter}}
{{&gt; organisms-section-footer}}
{{/ sectionFooter}}
