&lt;section class=&quot;section-content&quot;&gt;
  &lt;div class=&quot;container&quot;&gt;
    
    {{&gt; molecules-section-heading-hero}}
    
    &lt;div class=&quot;row&quot;&gt;
      {{# writingGeniusMediaBlocks1}}
      &lt;div class=&quot;medium-6 column&quot;&gt;
        {{&gt; molecules-media-block}}
      &lt;/div&gt;
      {{/ writingGeniusMediaBlocks1}}
    &lt;/div&gt;
    
    &lt;div class=&quot;row&quot;&gt;
      {{# writingGeniusMediaBlocks2}}
      &lt;div class=&quot;medium-6 column&quot;&gt;
        {{&gt; molecules-media-block}}
      &lt;/div&gt;
      {{/ writingGeniusMediaBlocks2}}
    &lt;/div&gt;
    
    &lt;div class=&quot;row&quot;&gt;
      {{# writingGeniusAvatarCards}}
      &lt;div class=&quot;large-4 column&quot;&gt;{{&gt; molecules-avatar-card}}&lt;/div&gt;
      {{/ writingGeniusAvatarCards}}
    &lt;/div&gt;
  
  &lt;/div&gt;
&lt;/section&gt;
