<section class="section-content section-content--hero">
  <div class="row">
    <div class="large-12 columns">
      {{> molecules-section-heading-hero}}
  
      {{> molecules-search-form}}
    </div>
  </div>
  <ul class="row hero-bullets">
    {{# heroBullets}}
    {{> molecules-hero-bullet}}
    {{/ heroBullets}}
  </ul>
</section>
