<section class="section-content">
  <div class="container">
    
    {{> molecules-section-heading-hero}}
    
    <div class="row">
      {{# writingGeniusMediaBlocks1}}
      <div class="medium-6 column">
        {{> molecules-media-block}}
      </div>
      {{/ writingGeniusMediaBlocks1}}
    </div>
    
    <div class="row">
      {{# writingGeniusMediaBlocks2}}
      <div class="medium-6 column">
        {{> molecules-media-block}}
      </div>
      {{/ writingGeniusMediaBlocks2}}
    </div>
    
    <div class="row">
      {{# writingGeniusAvatarCards}}
      <div class="large-4 column">{{> molecules-avatar-card}}</div>
      {{/ writingGeniusAvatarCards}}
    </div>
  
  </div>
</section>
