<section class="section-content section-content--inverse">
    {{> molecules-section-heading-hero}}
    
    <div class="row">
      {{# sectionInverseCtaCards}}
      <a href="{{url}}">
        <div class="large-4 column">{{> molecules-cta-card}}</div>
      </a>
      {{/ sectionInverseCtaCards}}
    </div>
</section>
