<footer class="section-content section-content--footer">
    <div class="row">
      <div class="medium-3 columns">{{> molecules-copyright-block}}</div>
      
      {{#sectionFooterLists}}
      <div class="medium-3 columns">{{> molecules-vertical-list}}</div>
      {{/sectionFooterLists}}
    </div>
</footer>
