.logo {
  background-image: url('../images/logos/stm/svg/sm-logo-research.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  float: left;
  height: 62px;
  margin: 0 0 0 10px;
  width: 185px;
}

.logo__link {
  display: block;
  height: 100%;
  text-indent: -9999px;
  width: 100%;
}
