h1 {
  font-size: pxe(48px);
  font-weight: 300;
}

h2 {
  font-size: pxe(36px);
  font-weight: 300;
}

h3 {
  font-size: pxe(28px);
  font-weight: 400;
}

h4 {
  font-size: pxe(24px);
  font-weight: 400;
}

h5 {
  font-size: pxe(20px);
  font-weight: 400;
}

h6 {
  font-size: pxe(16px);
  font-weight: 500;
}
