{{^showExamples}}
&lt;button class=&quot;button {{styleModifier}}&quot;&gt;{{text.button}}&lt;/button&gt;
{{/showExamples}}

{{#showExamples}}
&lt;div class=&quot;row&quot;&gt;
  &lt;h3&gt;States&lt;/h3&gt;
  
  &lt;div class=&quot;three columns&quot;&gt;
    &lt;h4&gt;Active&lt;/h4&gt;
    &lt;button class=&quot;button&quot;&gt;Default Enabled&lt;/button&gt;
    &lt;button class=&quot;button button--outline&quot;&gt;Outline Enabled&lt;/button&gt;
    &lt;button class=&quot;button button--inverse&quot;&gt;Inverse Enabled&lt;/button&gt;
  &lt;/div&gt;

  &lt;div class=&quot;three columns&quot;&gt;
    &lt;h4&gt;Disabled&lt;/h4&gt;
    &lt;button class=&quot;button button--disabled&quot;&gt;Default Disabled&lt;/button&gt;
    &lt;button class=&quot;button button--outline button--disabled&quot;&gt;Outline Disabled&lt;/button&gt;
    &lt;button class=&quot;button button--inverse button--disabled&quot;&gt;Inverse Disabled&lt;/button&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;row&quot;&gt;
  &lt;h3&gt;Colors&lt;/h3&gt;
  
  &lt;div class=&quot;three columns&quot;&gt;
    &lt;button class=&quot;button button--blue&quot;&gt;Blue&lt;/button&gt;
    &lt;button class=&quot;button button--orange&quot;&gt;Orange&lt;/button&gt;
    &lt;button class=&quot;button button--green&quot;&gt;Green&lt;/button&gt;
    &lt;button class=&quot;button button--salmon&quot;&gt;Salmon&lt;/button&gt;
    &lt;button class=&quot;button button--purple&quot;&gt;Purple&lt;/button&gt;

  &lt;/div&gt;
&lt;/div&gt;
{{/showExamples}}
