<div class="form-group">
  <label>First Name</label>
  <input type="text" placeholder="Enter your first name">
</div>

<div class="form-group">
  <label>Email Address</label>
  <input type="email" placeholder="Enter your email address">
</div>

<div class="form-group">
  <label>Textarea</label>
  <textarea rows="8" cols="48" placeholder="Enter your message here"></textarea>
</div>
