&lt;div class=&quot;vertical-nav-list&quot;&gt;
  
  &lt;h6 class=&quot;vertical-nav-list__heading&quot;&gt;{{text.verticalNavHeading}}&lt;/h6&gt;
  
  &lt;ul&gt;
    {{#verticalNavListItems}}
    {{&gt; molecules-vertical-list-item}}
    {{/verticalNavListItems}}
  &lt;/ul&gt;
  
&lt;/div&gt;
