&lt;section class=&quot;section-content section-content--inverse&quot;&gt;
    {{&gt; molecules-section-heading-hero}}
    
    &lt;div class=&quot;row&quot;&gt;
      {{# sectionInverseCtaCards}}
      &lt;a href=&quot;{{url}}&quot;&gt;
        &lt;div class=&quot;large-4 column&quot;&gt;{{&gt; molecules-cta-card}}&lt;/div&gt;
      &lt;/a&gt;
      {{/ sectionInverseCtaCards}}
    &lt;/div&gt;
&lt;/section&gt;
