
&lt;div class=&quot;swatches&quot;&gt;
  
&Tab;&lt;h5&gt;Primary / Secondary&lt;/h5&gt;
&Tab;&lt;hr /&gt;
&Tab;
&Tab;&lt;div class=&quot;swatch&quot;&gt;
&Tab;&Tab;&lt;div class=&quot;swatch--blue&quot;&gt;&lt;/div&gt;
&Tab;&Tab;&lt;div class=&quot;swatch-desc&quot;&gt;
&Tab;&Tab;&Tab;&lt;span&gt;Blue&lt;/span&gt;
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;hex&lt;/span&gt; #419ad9
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;rgb&lt;/span&gt; 65, 154, 217
&Tab;&Tab;&lt;/div&gt;
&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;swatch&quot;&gt;
&Tab;&Tab;&lt;div class=&quot;swatch--purple&quot;&gt;&lt;/div&gt;
&Tab;&Tab;&lt;div class=&quot;swatch-desc&quot;&gt;
&Tab;&Tab;&Tab;&lt;span&gt;Purple&lt;/span&gt;
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;hex&lt;/span&gt; #7562d9
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;rgb&lt;/span&gt; 117, 98, 217
&Tab;&Tab;&lt;/div&gt;
&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;swatch&quot;&gt;
&Tab;&Tab;&lt;div class=&quot;swatch--salmon&quot;&gt;&lt;/div&gt;
&Tab;&Tab;&lt;div class=&quot;swatch-desc&quot;&gt;
&Tab;&Tab;&Tab;&lt;span&gt;Salmon&lt;/span&gt;
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;hex&lt;/span&gt; #e55069
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;rgb&lt;/span&gt; 229, 80, 105
&Tab;&Tab;&lt;/div&gt;
&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;swatch&quot;&gt;
&Tab;&Tab;&lt;div class=&quot;swatch--orange&quot;&gt;&lt;/div&gt;
&Tab;&Tab;&lt;div class=&quot;swatch-desc&quot;&gt;
&Tab;&Tab;&Tab;&lt;span&gt;Orange&lt;/span&gt;
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;hex&lt;/span&gt; #f2793d
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;rgb&lt;/span&gt; 242, 121, 61
&Tab;&Tab;&lt;/div&gt;
&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;swatch&quot;&gt;
&Tab;&Tab;&lt;div class=&quot;swatch--gold&quot;&gt;&lt;/div&gt;
&Tab;&Tab;&lt;div class=&quot;swatch-desc&quot;&gt;
&Tab;&Tab;&Tab;&lt;span&gt;Gold&lt;/span&gt;
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;hex&lt;/span&gt; #e0ac43
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;rgb&lt;/span&gt; 224, 172, 67
&Tab;&Tab;&lt;/div&gt;
&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;swatch&quot;&gt;
&Tab;&Tab;&lt;div class=&quot;swatch--green&quot;&gt;&lt;/div&gt;
&Tab;&Tab;&lt;div class=&quot;swatch-desc&quot;&gt;
&Tab;&Tab;&Tab;&lt;span&gt;Green&lt;/span&gt;
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;hex&lt;/span&gt; #30bf78
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;rgb&lt;/span&gt; 48, 191, 120
&Tab;&Tab;&lt;/div&gt;
&Tab;&lt;/div&gt;
&Tab;
&Tab;&lt;br /&gt;
&Tab;&lt;br /&gt;
&Tab;&lt;h5&gt;Shades&lt;/h3&gt;
&Tab;&lt;hr /&gt;
&Tab;
&Tab;&lt;div class=&quot;swatch&quot;&gt;
&Tab;&Tab;&lt;div class=&quot;swatch--white&quot;&gt;&lt;/div&gt;
&Tab;&Tab;&lt;div class=&quot;swatch-desc&quot;&gt;
&Tab;&Tab;&Tab;&lt;span&gt;White&lt;/span&gt;
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;hex&lt;/span&gt; #ffffff
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;rgb&lt;/span&gt; 255, 255, 255
&Tab;&Tab;&lt;/div&gt;
&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;swatch&quot;&gt;
&Tab;&Tab;&lt;div class=&quot;swatch--section-gray&quot;&gt;&lt;/div&gt;
&Tab;&Tab;&lt;div class=&quot;swatch-desc&quot;&gt;
&Tab;&Tab;&Tab;&lt;span&gt;Section Gray&lt;/span&gt;
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;hex&lt;/span&gt; #fafafa
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;rgb&lt;/span&gt; 250, 250, 250
&Tab;&Tab;&lt;/div&gt;
&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;swatch&quot;&gt;
&Tab;&Tab;&lt;div class=&quot;swatch--border-gray&quot;&gt;&lt;/div&gt;
&Tab;&Tab;&lt;div class=&quot;swatch-desc&quot;&gt;
&Tab;&Tab;&Tab;&lt;span&gt;Border Gray&lt;/span&gt;
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;hex&lt;/span&gt; #e1e4e5
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;rgb&lt;/span&gt; 225, 228, 229
&Tab;&Tab;&lt;/div&gt;
&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;swatch&quot;&gt;
&Tab;&Tab;&lt;div class=&quot;swatch--light-gray&quot;&gt;&lt;/div&gt;
&Tab;&Tab;&lt;div class=&quot;swatch-desc&quot;&gt;
&Tab;&Tab;&Tab;&lt;span&gt;Light Gray&lt;/span&gt;
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;hex&lt;/span&gt; #c2c8cc
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;rgb&lt;/span&gt; 194, 200, 204
&Tab;&Tab;&lt;/div&gt;
&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;swatch&quot;&gt;
&Tab;&Tab;&lt;div class=&quot;swatch--ash-gray&quot;&gt;&lt;/div&gt;
&Tab;&Tab;&lt;div class=&quot;swatch-desc&quot;&gt;
&Tab;&Tab;&Tab;&lt;span&gt;Ash Gray&lt;/span&gt;
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;hex&lt;/span&gt; #959fa6
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;rgb&lt;/span&gt; 149, 159, 166
&Tab;&Tab;&lt;/div&gt;
&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;swatch&quot;&gt;
&Tab;&Tab;&lt;div class=&quot;swatch--mid-gray&quot;&gt;&lt;/div&gt;
&Tab;&Tab;&lt;div class=&quot;swatch-desc&quot;&gt;
&Tab;&Tab;&Tab;&lt;span&gt;Mid Gray&lt;/span&gt;
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;hex&lt;/span&gt; #737a80
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;rgb&lt;/span&gt; 115, 122, 128
&Tab;&Tab;&lt;/div&gt;
&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;swatch&quot;&gt;
&Tab;&Tab;&lt;div class=&quot;swatch--charcoal-gray&quot;&gt;&lt;/div&gt;
&Tab;&Tab;&lt;div class=&quot;swatch-desc&quot;&gt;
&Tab;&Tab;&Tab;&lt;span&gt;Charcoal Gray&lt;/span&gt;
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;hex&lt;/span&gt; #435059
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;rgb&lt;/span&gt; 67, 80, 89
&Tab;&Tab;&lt;/div&gt;
&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;swatch&quot;&gt;
&Tab;&Tab;&lt;div class=&quot;swatch--gunmetal-gray&quot;&gt;&lt;/div&gt;
&Tab;&Tab;&lt;div class=&quot;swatch-desc&quot;&gt;
&Tab;&Tab;&Tab;&lt;span&gt;Gunmetal Gray&lt;/span&gt;
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;hex&lt;/span&gt; #303940
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;rgb&lt;/span&gt; 48, 57, 64
&Tab;&Tab;&lt;/div&gt;
&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;swatch&quot;&gt;
&Tab;&Tab;&lt;div class=&quot;swatch--dark-gray&quot;&gt;&lt;/div&gt;
&Tab;&Tab;&lt;div class=&quot;swatch-desc&quot;&gt;
&Tab;&Tab;&Tab;&lt;span&gt;Dark Gray&lt;/span&gt;
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;hex&lt;/span&gt; #1d2226
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;rgb&lt;/span&gt; 29, 34, 38
&Tab;&Tab;&lt;/div&gt;
&Tab;&lt;/div&gt;
&Tab;
&Tab;&lt;br /&gt;
&Tab;&lt;br /&gt;
&Tab;&lt;h5&gt;Gradients&lt;/h5&gt;
&Tab;&lt;hr /&gt;
&Tab;
&Tab;&lt;div class=&quot;swatch&quot;&gt;
&Tab;&Tab;&lt;div class=&quot;swatch--gradient--blue-aqua&quot;&gt;&lt;/div&gt;
&Tab;&Tab;&lt;div class=&quot;swatch-desc&quot;&gt;
&Tab;&Tab;&Tab;&lt;span&gt;Blue / Light Blue&lt;/span&gt;
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;hex&lt;/span&gt; #3284bf, #38b1d9
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;rgb&lt;/span&gt; 
&Tab;&Tab;&lt;/div&gt;
&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;swatch&quot;&gt;
&Tab;&Tab;&lt;div class=&quot;swatch--gradient--green-teal&quot;&gt;&lt;/div&gt;
&Tab;&Tab;&lt;div class=&quot;swatch-desc&quot;&gt;
&Tab;&Tab;&Tab;&lt;span&gt;Green / Teal&lt;/span&gt;
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;hex&lt;/span&gt; #30bf78, #21d9ba
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;rgb&lt;/span&gt; 
&Tab;&Tab;&lt;/div&gt;
&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;swatch&quot;&gt;
&Tab;&Tab;&lt;div class=&quot;swatch--gradient--orange-gold&quot;&gt;&lt;/div&gt;
&Tab;&Tab;&lt;div class=&quot;swatch-desc&quot;&gt;
&Tab;&Tab;&Tab;&lt;span&gt;Orange / Gold&lt;/span&gt;
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;hex&lt;/span&gt; #f2793d, #f2973d
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;rgb&lt;/span&gt; 
&Tab;&Tab;&lt;/div&gt;
&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;swatch&quot;&gt;
&Tab;&Tab;&lt;div class=&quot;swatch--gradient--purple-aqua&quot;&gt;&lt;/div&gt;
&Tab;&Tab;&lt;div class=&quot;swatch-desc&quot;&gt;
&Tab;&Tab;&Tab;&lt;span&gt;Purple / Aqua&lt;/span&gt;
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;hex&lt;/span&gt; #a250e5, #17e5e5
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;rgb&lt;/span&gt; 
&Tab;&Tab;&lt;/div&gt;
&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;swatch&quot;&gt;
&Tab;&Tab;&lt;div class=&quot;swatch--gradient--salmon-orange&quot;&gt;&lt;/div&gt;
&Tab;&Tab;&lt;div class=&quot;swatch-desc&quot;&gt;
&Tab;&Tab;&Tab;&lt;span&gt;Salmon / Gold&lt;/span&gt;
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;hex&lt;/span&gt; #ff4c88, #e57a45
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;rgb&lt;/span&gt; 
&Tab;&Tab;&lt;/div&gt;
&Tab;&lt;/div&gt;
&Tab;&lt;div class=&quot;swatch&quot;&gt;
&Tab;&Tab;&lt;div class=&quot;swatch--gradient--aqua-green&quot;&gt;&lt;/div&gt;
&Tab;&Tab;&lt;div class=&quot;swatch-desc&quot;&gt;
&Tab;&Tab;&Tab;&lt;span&gt;Aqua / Green&lt;/span&gt;
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;hex&lt;/span&gt; #41b3d9, #36d987
&Tab;&Tab;&Tab;&lt;br /&gt;
&Tab;&Tab;&Tab;&lt;span&gt;rgb&lt;/span&gt; 
&Tab;&Tab;&lt;/div&gt;
&Tab;&lt;/div&gt;
&Tab;
&lt;/div&gt;


&lt;script type=&quot;text/javascript&quot;&gt;
// Apply widest swatch width to all swatches
$(document).ready(function () {
&Tab;var w = 0;
&Tab;$(&quot;.swatch&quot;).each(function(){
&Tab;&Tab;if($(this).width() &gt; w){
&Tab;&Tab;&Tab;w = $(this).width();
&Tab;&Tab;}
&Tab;});
&Tab;$(&quot;.swatch&quot;).css(&apos;width&apos;, w);
});
&lt;/script&gt;