<div class="copyright-block">
  
  <p class="copyright-block__icon">
    <i class="icon icon-sm-logo"></i>
    <span>StudyMode</span>
  </p>
  
  <p class="copyright-block__social">
    <a href="{{facebookUrl}}">
      <span class="icon--circle">
        <i class="icon icon-ui-social-fb"></i>
      </span>
    </a>
    <a href="{{twitterUrl}}">
      <span class="icon--circle">
        <i class="icon icon-ui-social-tw"></i>
      </span>
    </a>
    <a href="{{instagramUrl}}">
      <span class="icon--circle">
        <i class="icon icon-ui-social-insta"></i>
      </span>
    </a>
  </p>
  
  <small>
    &copy;2016 StudyMode.com
  </small>
  
</div>
