<div class="media-block">
  
  <span class="media-block__avatar">
    <i class="icon {{icon}}"></i>
  </span>
  
  <span class="media-block__content">
    <h5>{{text.mediaBlockTitle}}</h5>
    <p>{{text.mediaBlockContent}}</p>
  </span>
  
</div>
