{{#tagExamples}}
{{&gt; atoms-tag}}
{{/tagExamples}}

&lt;div class=&quot;brand-background examples-padding&quot;&gt;
&Tab;{{#tagExamplesLight}}
&Tab;{{&gt; atoms-tag}}
&Tab;{{/tagExamplesLight}}
&lt;/div&gt;&lt;br&gt;

&lt;div class=&quot;dark-gray examples-padding&quot;&gt;
&Tab;{{#tagExamplesInverse}}
&Tab;{{&gt; atoms-tag}}
&Tab;{{/tagExamplesInverse}}
&lt;/div&gt;
