&lt;section class=&quot;section-content&quot;&gt;
  &lt;div class=&quot;container&quot;&gt;
    
    &lt;div class=&quot;row&quot;&gt;
      &lt;div class=&quot;large-12 columns&quot;&gt;
        {{&gt; molecules-section-heading}}
      &lt;/div&gt;
    &lt;/div&gt;
    
    {{&gt; molecules-tag-block}}
    
    &lt;div class=&quot;row&quot;&gt;
      &lt;div class=&quot;large-4 columns&quot;&gt;
        &amp;nbsp;
      &lt;/div&gt;
      &lt;div class=&quot;large-4 columns&quot;&gt;
        {{&gt; atoms-button-link:button--inverse}}
      &lt;/div&gt;
      &lt;div class=&quot;large-4 csolumns&quot;&gt;
        &amp;nbsp;
      &lt;/div&gt;
    &lt;/div&gt;
    
  &lt;/div&gt;
&lt;/section&gt;
