&lt;footer class=&quot;section-content section-content--footer&quot;&gt;
    &lt;div class=&quot;row&quot;&gt;
      &lt;div class=&quot;medium-3 columns&quot;&gt;{{&gt; molecules-copyright-block}}&lt;/div&gt;
      
      {{#sectionFooterLists}}
      &lt;div class=&quot;medium-3 columns&quot;&gt;{{&gt; molecules-vertical-list}}&lt;/div&gt;
      {{/sectionFooterLists}}
    &lt;/div&gt;
&lt;/footer&gt;
