
<div class="swatches">
  
	<h5>Primary / Secondary</h5>
	<hr />
	
	<div class="swatch">
		<div class="swatch--blue"></div>
		<div class="swatch-desc">
			<span>Blue</span>
			<br />
			<span>hex</span> #419ad9
			<br />
			<span>rgb</span> 65, 154, 217
		</div>
	</div>
	<div class="swatch">
		<div class="swatch--purple"></div>
		<div class="swatch-desc">
			<span>Purple</span>
			<br />
			<span>hex</span> #7562d9
			<br />
			<span>rgb</span> 117, 98, 217
		</div>
	</div>
	<div class="swatch">
		<div class="swatch--salmon"></div>
		<div class="swatch-desc">
			<span>Salmon</span>
			<br />
			<span>hex</span> #e55069
			<br />
			<span>rgb</span> 229, 80, 105
		</div>
	</div>
	<div class="swatch">
		<div class="swatch--orange"></div>
		<div class="swatch-desc">
			<span>Orange</span>
			<br />
			<span>hex</span> #f2793d
			<br />
			<span>rgb</span> 242, 121, 61
		</div>
	</div>
	<div class="swatch">
		<div class="swatch--gold"></div>
		<div class="swatch-desc">
			<span>Gold</span>
			<br />
			<span>hex</span> #e0ac43
			<br />
			<span>rgb</span> 224, 172, 67
		</div>
	</div>
	<div class="swatch">
		<div class="swatch--green"></div>
		<div class="swatch-desc">
			<span>Green</span>
			<br />
			<span>hex</span> #30bf78
			<br />
			<span>rgb</span> 48, 191, 120
		</div>
	</div>
	
	<br />
	<br />
	<h5>Shades</h3>
	<hr />
	
	<div class="swatch">
		<div class="swatch--white"></div>
		<div class="swatch-desc">
			<span>White</span>
			<br />
			<span>hex</span> #ffffff
			<br />
			<span>rgb</span> 255, 255, 255
		</div>
	</div>
	<div class="swatch">
		<div class="swatch--section-gray"></div>
		<div class="swatch-desc">
			<span>Section Gray</span>
			<br />
			<span>hex</span> #fafafa
			<br />
			<span>rgb</span> 250, 250, 250
		</div>
	</div>
	<div class="swatch">
		<div class="swatch--border-gray"></div>
		<div class="swatch-desc">
			<span>Border Gray</span>
			<br />
			<span>hex</span> #e1e4e5
			<br />
			<span>rgb</span> 225, 228, 229
		</div>
	</div>
	<div class="swatch">
		<div class="swatch--light-gray"></div>
		<div class="swatch-desc">
			<span>Light Gray</span>
			<br />
			<span>hex</span> #c2c8cc
			<br />
			<span>rgb</span> 194, 200, 204
		</div>
	</div>
	<div class="swatch">
		<div class="swatch--ash-gray"></div>
		<div class="swatch-desc">
			<span>Ash Gray</span>
			<br />
			<span>hex</span> #959fa6
			<br />
			<span>rgb</span> 149, 159, 166
		</div>
	</div>
	<div class="swatch">
		<div class="swatch--mid-gray"></div>
		<div class="swatch-desc">
			<span>Mid Gray</span>
			<br />
			<span>hex</span> #737a80
			<br />
			<span>rgb</span> 115, 122, 128
		</div>
	</div>
	<div class="swatch">
		<div class="swatch--charcoal-gray"></div>
		<div class="swatch-desc">
			<span>Charcoal Gray</span>
			<br />
			<span>hex</span> #435059
			<br />
			<span>rgb</span> 67, 80, 89
		</div>
	</div>
	<div class="swatch">
		<div class="swatch--gunmetal-gray"></div>
		<div class="swatch-desc">
			<span>Gunmetal Gray</span>
			<br />
			<span>hex</span> #303940
			<br />
			<span>rgb</span> 48, 57, 64
		</div>
	</div>
	<div class="swatch">
		<div class="swatch--dark-gray"></div>
		<div class="swatch-desc">
			<span>Dark Gray</span>
			<br />
			<span>hex</span> #1d2226
			<br />
			<span>rgb</span> 29, 34, 38
		</div>
	</div>
	
	<br />
	<br />
	<h5>Gradients</h5>
	<hr />
	
	<div class="swatch">
		<div class="swatch--gradient--blue-aqua"></div>
		<div class="swatch-desc">
			<span>Blue / Light Blue</span>
			<br />
			<span>hex</span> #3284bf, #38b1d9
			<br />
			<span>rgb</span> 
		</div>
	</div>
	<div class="swatch">
		<div class="swatch--gradient--green-teal"></div>
		<div class="swatch-desc">
			<span>Green / Teal</span>
			<br />
			<span>hex</span> #30bf78, #21d9ba
			<br />
			<span>rgb</span> 
		</div>
	</div>
	<div class="swatch">
		<div class="swatch--gradient--orange-gold"></div>
		<div class="swatch-desc">
			<span>Orange / Gold</span>
			<br />
			<span>hex</span> #f2793d, #f2973d
			<br />
			<span>rgb</span> 
		</div>
	</div>
	<div class="swatch">
		<div class="swatch--gradient--purple-aqua"></div>
		<div class="swatch-desc">
			<span>Purple / Aqua</span>
			<br />
			<span>hex</span> #a250e5, #17e5e5
			<br />
			<span>rgb</span> 
		</div>
	</div>
	<div class="swatch">
		<div class="swatch--gradient--salmon-orange"></div>
		<div class="swatch-desc">
			<span>Salmon / Gold</span>
			<br />
			<span>hex</span> #ff4c88, #e57a45
			<br />
			<span>rgb</span> 
		</div>
	</div>
	<div class="swatch">
		<div class="swatch--gradient--aqua-green"></div>
		<div class="swatch-desc">
			<span>Aqua / Green</span>
			<br />
			<span>hex</span> #41b3d9, #36d987
			<br />
			<span>rgb</span> 
		</div>
	</div>
	
</div>


<script type="text/javascript">
// Apply widest swatch width to all swatches
$(document).ready(function () {
	var w = 0;
	$(".swatch").each(function(){
		if($(this).width() > w){
			w = $(this).width();
		}
	});
	$(".swatch").css('width', w);
});
</script>